{% extends 'base.html' %}

{% block title %}The Ensemble Mutation Calling Pipeline{% endblock %}

{% block header %}<b><a href="#">Getting Started</a></b> - Running the pipeline{% endblock %}


{% block content %}

    <div> {{ reponse_text }}
    </div>

<div class="row">
    <form action="/pipeline" method="post">
        {% csrf_token %}
        <label for="azure_data_folder">azure data folder name: </label>
        <input id="azure_data_folder" type="text" name="azure_data_folder" value="">
        <input type="submit" value="OK">
    </form>
</div>

{% endblock %}

