{% extends 'base.html' %}

{% block title %}The Ensemble Mutation Calling Pipeline{% endblock %}

{% block header %}<b><a href="#">The Ensemble Mutation Calling Pipeline</a></b> - Pipeline Manager{% endblock %}
{% block scripts_and_style %}
    <link rel="stylesheet" type="text/css" href="/static/css/webapp.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/pipeline.css"/>
{% endblock %}
{% block content %}
    <button type="button" class="big collapsible">Click Here to Create A New Pipeline Run</button>
    <div class="content" style="padding: 3em">
        <div class="form-row">
            <form action="/pipeline/" method="post">
                {% csrf_token %}
                <label for="run_name">Name for the Run</label>
                <input id="run_name" type="text" name="run_name" value="">
                <label for="xpmd">Metadata URL <a
                        href="https://docs.google.com/spreadsheets/d/1WhKCgSKn5G5ypx8ZUB2a6xeuKvi06DqhTAlUJRoRems/copy"
                        target="_blank">Click
                    here to generate a new spreadsheet for your pipeline run</a></label>
                <input id="xpmd" type="text" name="xpmd" value="">
                <label for="data_location">Current Input Data Location</label>
                <select name="data_location" id="data_location">
                    <optgroup label="Input data is already in our internal Azure System">
                        <option value="azure">Azure</option>
                    </optgroup>
                    <optgroup
                            label="Input data is in a Google Drive folder has been shared with aledb and needs to be transferred to Azure">
                        <option value="drive">Drive</option>
                    </optgroup>
                </select>

                <label for="folder_name">Input folder name: </label>
                <input id="folder_name" type="text" name="folder_name" value="">

                <label for="vm_size">VM Options:</label>
                <select name="vm_size" id="vm_size">
                    <optgroup label="Smaller Genomes/Prokaryotes">
                        <option value="STANDARD_E2ds_V4">16GB</option>
                    </optgroup>
                    <optgroup label="Larger Genomes/Eukaryotes">
                        <option value="STANDARD_E4ds_V4">32GB</option>
                        <option value="STANDARD_E8ds_V4">64GB</option>
                    </optgroup>
                </select>
                <input type="submit" value="Create Run">
            </form>
        </div>
    </div>

    <table id="pipeline_runs" class="display table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            {% if request.user.is_superuser %}
                <th>User</th>
            {% endif %}
            <th>XPMD</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for run in pipeline_runs %}
            <tr>
                <td>{{ run.date }}</td>
                <td><b><a href="/pipeline/run/{{ run.id }}">{{ run.name }}</a></b></td>
                {% if request.user.is_superuser %}
                    <td>{{ run.user }}</td>
                {% endif %}
                <td><a href="{{ run.xpmd }}" target="_blank">XPMD</a></td>
                <td>{{ run.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document)
            .ready(function () {
                $('#pipeline_runs')
                    .DataTable({
                        "columns": [
                            {"width": "7%"},
                            {"width": "7%"},
                            {% if request.user.is_superuser %}
                                {"width": "3%"},
                            {% endif %}
                            {"width": "3%"},
                            {"width": "4%"},
                        ]
                    });
            });
    </script>

    {% if pipeline_runs|length == 0 %}
        <div class="section_header"><h3>You don't have any pipeline runs</h3></div>
    {% else %}
        <div>
            <p>Once completed, your runs could be uploaded through their respective panels.
                Access them by clicking the run name in the table above</p>
        </div>
    {% endif %}


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}

