{% extends 'base.html' %}

{% block title %}The Ensemble Mutation Calling Pipeline{% endblock %}

{% block header %}<b><a href="#">Getting Started</a></b> - Running the pipeline{% endblock %}


{% block content %}

    <div> running pipeline for {{ reponse_text.azure_data_folder }}
    </div>


<ul>
{% for drive in shared_drives %}
    <li>{{ drive.Name }}</li>
{% endfor %}
</ul>

<div class="row">
    <form action="/pipeline" method="post">
        {% csrf_token %}
        <label for="google_drive_folder">Google Drive folder name: </label>
        <input id="google_drive_folder" type="text" name="google_drive_folder" value="">
        <label for="azure_data_folder">Azure data folder name: </label>
        <input id="azure_data_folder" type="text" name="azure_data_folder" value="">
        <label for="azure_output_folder">Azure output folder name: </label>
        <input id="azure_output_folder" type="text" name="azure_output_folder" value="">
        <input type="submit" value="OK">
    </form>
</div>

{% endblock %}

