<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_TAG }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ GOOGLE_ANALYTICS_TAG }}');
    </script>

    <meta charset="utf-8">
    <title>aledb</title>

    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- metisMenu CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.css" rel="stylesheet">

    <!-- SBAdmin 2 Theme CSS -->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static "img/fav.png" %}">

    <!-- Common CSS -->
    <link href="{% static "css/common.css" %}" rel="stylesheet">

    <!-- Jquery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>

    <!-- Jquery DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        var sidebar_hidden = false;

        function toggle_sidebar() {
            var x = document.getElementsByClassName('row');
            if (sidebar_hidden) {
                sidebar_hidden = false;
                $('nav').css('left', '0');
                document.getElementById('sidebar_arrows').innerText = '«';
                for (var i = 0; i < x.length; i++) {
                    $(x[i]).width($(x[i]).width() - 240)
                }
            } else {
                sidebar_hidden = true;
                $('nav').css('left', '-240px');
                document.getElementById('sidebar_arrows').innerText = '»';
                for (var j = 0; j < x.length; j++) {
                    $(x[j]).width($(x[j]).width() + 240)
                }
            }
        }
    </script>

    <!-- Select 2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    {% block scripts_and_style %}{% endblock %}
</head>
<body style="background-color: white">
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px">
    <!--
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ALEdb 1.1.0</a>
        </div>

        <div class="navbar-default sidebar" role="navigation" style="height: 100%">
            <div class="sidebar-nav navbar-collapse pull-left" style="width: 240px">
                <ul class="nav in" id="side-menu">
                    {% if user.is_authenticated %}
                        <li><a href="#"><b>{{ user.username }}</b></a>
                        <li>
                            <a href="{% url 'accounts:logout' %}" class="small">&nbsp;&nbsp;&nbsp;Logout</a>
                        </li>
                        <li>
                            <a href="/admin/password_change/" class="small">&nbsp;&nbsp;&nbsp;Change Password</a>
                        </li>
                        </li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    {% endif %}
                    <li><a href="/about">About</a></li>
                    <li {% block dash %}{% endblock %}><a href="/dashboard">Dashboard</a></li>
                    <li {% block search %}{% endblock %}><a href="/search/">Search</a></li>
                    <li><a href="/ale/projects/">Projects</a></li>
                    <li><a href="/ale/experiments/">Experiments</a></li>


                    {# <li><a href="/bibliome">Bibliome</a></li> #}
                    {% if ale_experiment_id %}
                        <li>
                            <a href="/stats?ale_experiment_id={{ ale_experiment_id }}"><b>{{ ale_project_name }}: {{ ale_experiment_name }}</b></a>
                        </li>
                        <li><a href="/metadata?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Metadata</a>
                        </li>
                        <li>
                            <a href="/mutations?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Mutations</a>
                        </li>
                        <li><a href="/converge?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Converged
                            Mutations</a></li>
                        <li><a href="/fixation?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Fixed
                            Mutations</a></li>
                        <li><a href="/filter?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Filter</a>
                        </li>
                    {% endif %}
                    {% if ale_experiment_id and user.is_authenticated %}
                        <li><a href="/mutations/amplifications?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Amplifications</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div id="sidebarbutton" title="Collapse sidebar" onclick="toggle_sidebar()"
                 style="border-radius: 0 5px 5px 0; color: rgb(68, 68, 68); font-size: 1.2em; cursor: pointer; height: 100%; padding-top: 1px; padding-left: 1px; margin-left: 240px; background-color: rgb(204, 204, 204);">
                <span id="sidebar_arrows" style="display: block; margin-top: 470px">«</span>
            </div>
        </div>
         -->
        <div id="home-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h2>
                            <a href="/home"><img src="{% static "img/aledb_header.png" %}"
                                                 style="max-width: 10%; max-height: 36px;"></a>
                        </h2>
                        {% if ale_experiment_id %}
                            <a href="/stats?ale_experiment_id={{ ale_experiment_id }}" class="btn-primary2"
                               role="button">Stats</a> |
                            <a href="/metadata?ale_experiment_id={{ ale_experiment_id }}" class="btn-primary2"
                               role="button">Metadata</a> |
                            <a href="/mutations?ale_experiment_id={{ ale_experiment_id }}" class="btn-primary2"
                               role="button">Mutations</a> |
                            <a href="/converge?ale_experiment_id={{ ale_experiment_id }}" class="btn-primary2"
                               role="button">Converged Mutations</a> |
                            <a href="/fixation?ale_experiment_id={{ ale_experiment_id }}" class="btn-primary2"
                               role="button">Fixed Mutations</a> |
                            <a href="/filter?ale_experiment_id={{ ale_experiment_id }}" class="btn-primary2"
                               role="button">Filter</a>
                        {% endif %}
                        {% if ale_experiment_id and user.is_authenticated %}
                            |<a href="/mutations/amplifications?ale_experiment_id={{ ale_experiment_id }}"
                                class="btn-primary2" role="button">Amplifications</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="centered">
                <h1>Intuitive matrices for microbial mutation data</h1>
                <div class="small-spacer-top">
                    <p class="header-description description">High quality curated mutations from related samples in organized, interactive and annotated tables</p>
                </div>
                <div class="two-button-field small-spacer-top">
                    <a href="#search" class="home-key-btn btn-primary">Search the Database</a>
                    <a href="/ale/projects" class="home-key-btn btn-info">See All Available Projects</a>
                </div>
                <div class="small-prompt small-spacer-top description">Want to see your unpublished/private mutations on aledb? <a href="/accounts/login">
                    <div class="prompt-button"><b>Log in here</b></div>
                </a></div>



                <img class="small-spacer-top" src="/static/img/table_sample.png" style="max-width: 80%" alt="Breseq frequency/GATK frequency">
                <div class="example-link">Snapshot of a mutation table</div>

                <hr class="small-spacer-top">
                <a href="#features">
                    <h4 class="small-spacer-top"> See what aledb can do for you</h4>
                    <h4>⦡</h4>
                </a>

            </div>

            <div id="features" class="small-spacer-top"></div>

        <div id="stats" class="pair-grid-container small-spacer-top">
            <div class="grid-item"><img class="grid-img" src="/static/img/mut_stats.png"></div>
            <div class="grid-item">
              <h2 class="small-spacer-top">aledb is the largest collection of microbial evolution mutation data in the world</h2>
                <p class="small-spacer-top">560433 instances of 192663 unique mutations from 11471 isolates across 203 unique projects</p>
                <p class="small-spacer-top">More projects added every month</p>
          </div>

        </div>
        <div id="search" class="pair-grid-container small-spacer-top">
          <div class="grid-item">
              <h2 class="small-spacer-top">Search through our database to compare results from multiple experiments at once</h2>
              <p class="small-spacer-top">When logged in, search will also include private projects you have access to as well</p>
          </div>
          <div class="grid-item"><img class="grid-img" src="/static/img/search.png"></div>
        </div>

        <div id="alignment" class="pair-grid-container small-spacer-top">
            <div class="grid-item"><img class="grid-img" width="400" height="500" src="/static/img/alignment.png"></div>
            <div class="grid-item">
              <h2 class="small-spacer-top">Three mutation callers for triple the confidence</h2>
                <p class="small-spacer-top">Industry standard tools Breseq and GATK's HaplotypeCaller for more standard mutation calls</p>
                <p class="small-spacer-top">CNVnator for larger deletions and amplification mutations</p>
                <p class="small-spacer-top">Detailed alignment and coverage reports powered by gdtools for a consistent browsing experience</p>

          </div>
        </div>

        <div id="export" class="pair-grid-container small-spacer-top">
          <div class="grid-item">
              <h2 class="small-spacer-top">Easily export mutation data as CSV spreadsheets</h2>
              <p class="small-spacer-top">For further analysis using your favorite spreadsheet tools and scripts</p>
          </div>
          <div class="grid-item"><img class="grid-img" src="/static/img/spreadsheet.png"></div>
        </div>

        <div id="publications" class="small-spacer-top centered">
            <h2 class="small-spacer-top centered">aledb contains data from over <b>{{ unique_publication_count }} different publications </b> from around the world</h2>
            <h3 class="small-prompt small-spacer-top description centered">To add your own data on aledb or to run your own ALE experiment <a href="mailto:adamfeist@gmail.com"><div class="prompt-button">contact sales here</div></a></h3>
        </div>


        <hr class="small-spacer-top centered" style="padding-bottom: 7%; padding-top: 7%">
            <h4>License</h4>
            <p>Copyright © 2023 The Regents of the University of California</p>
            <p>Permission to use, copy, modify and distribute any part of aledb for educational, research and non-profit
                purposes, without fee, and without a written agreement is hereby granted, provided that the above
                copyright notice, this paragraph and the following three paragraphs appear in all copies.</p>
            <p>Those desiring to incorporate aledb Models into commercial products or use for commercial purposes should
                contact Adam Feist at afeist@ucsd.edu and he can inform you about the appropriate tech transfer
                contacts.</p>
            <p>In no event shall the University of California be liable to any party for direct, indirect, special,
                incidental, or consequential damages, including lost profits, arising out of the use of aledb, even if
                the University of California has been advised of the possibility of such damage.</p>
            <p>aledb provided herein is on an "as is" basis, and the University of California has no obligation to
                provide maintenance, support, updates, enhancements, or modifications. The University of California
                makes no representations and extends no warranties of any kind, either implied or express, including,
                but not limited to, the implied warranties of merchantability or fitness for a particular purpose, or
                that the use of aledb will not infringe any patent, trademark or other rights.</p>

            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12m text-muted" align="center">
                        aledb is hosted and maintained by the Systems Biology Research Group at the University of
                        California,
                        San Diego.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <a href="http://systemsbiology.ucsd.edu/">
                            <img class="img-responsive footer-image" src="/static/img/sbrg-logo.png" height="60%"
                                 width="60%">
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://www.biosustain.dtu.dk/"><img class="img-responsive footer-image"
                                                                     src="/static/img/cfb-logo.png" height="30%"
                                                                     width="30%"></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://www.ucsd.edu/"><img class="img-responsive footer-image"
                                                            src="/static/img/ucsd-logo.png" height="40%"
                                                            width="40%"></a>
                    </div>
                    <div class="col-sm-2">
                        <h6 class="git-hash">{{ git_hash }}</h6></div>
                </div>
            </div>
        </div>
    </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>
<script src="{% static "js/sb-admin-2.min.js" %}"></script>

<!-- DataTables Bootstrap JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
        type="text/javascript"></script>

<!-- Bootstrap Toggle -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</body>
</html>
