<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

{#TODO: This page is a copy-paste of table_template. Should refactor so that table_template and this page share common functions.#}

<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <script type="text/javascript" src="/static/DataTables/media/js/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <style type="text/css" title="currentStyle">
        @import "/static/DataTables/extras/TableTools/media/css/TableTools.css";

        .FixedHeader_Cloned th {
            background-color: white;
            opacity: 0.5;
        }

        .intergenic {
            font-style: italic;
        }

        .mutation_in_codon {
            color: red;
            text-decoration: underline;
        }

        .reference_error {
            text-decoration: line-through;
        }

        #true {
            background-color: rgba(0, 255, 0, 0.1)
        }

        #empty {
            background-color: rgba(255, 0, 0, 0.1)
        }

        body {
            padding-right: 50px;
            padding-bottom: 25px;
            padding-left: 50px;
        }
    </style>

    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/FixedHeader/js/FixedHeader.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/ColReorder/media/js/ColReorder.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $("#data").dataTable({"bPaginate": false, "bAutoWidth": false}).fnSort([[2, 'asc']]);
            $("tr td:first-child").each(function () {
                $(this).hover(
                        function () {
                            $(this).children(".shut").css("display", "block");
                        },
                        function () {
                            $(this).children(".shut").css("display", "none");
                        }
                );
            });
            var filter_offset = $("#data_filter").offset();
            $(window).resize(function () {
                filter_offset = $("#data_filter").offset();
            });
            var ui_offset = [];
            $(".ui").each(function () {
                ui_offset.push($(this).offset().left);
            });
            $(window).scroll(function () {
                var scrollLeft = $(window).scrollLeft();
                $("#data_filter").offset({left: filter_offset.left + scrollLeft});
                i = 0;
                $(".ui").each(function () {
                    $(this).offset({left: ui_offset[i++] + scrollLeft});
                });
            });
        });
    </script>
    <script type="text/javascript">
        var deleteRow = function () {
            var row = $(this).closest("tr").get(0);
            $('.dataTable').dataTable().fnDeleteRow(row);
        };
        var filterSample = function (filter_type) {
            var url = location.href.split("&remove=")[0].split("&show=")[0];
            checked_samples = [];
            $("tr td").children(".cb").each(function () {
                if (this.checked) {
                    checked_samples.push(this.name);
                }
            });
            var removed_sample_ids, kept_sample_ids;
            location.href.split("&").forEach(function (s) {
                if (s.indexOf("remove") >= 0) {
                    removed_sample_ids = s.split("=")[1];
                }
                else if (s.indexOf("show") >= 0) {
                    kept_sample_ids = s.split("=")[1];
                }
            });
            if (filter_type == "remove") {
                query_string = typeof kept_sample_ids != "undefined" ? "&show=" + kept_sample_ids : "";
                query_string += typeof removed_sample_ids != "undefined" ? "&remove=" + removed_sample_ids.replace("}", "") : "&remove={";
            }
            else if (filter_type == "show") {
                query_string = "&show={";
            }
            checked_samples.forEach(function (id) {
                query_string += id + ",";
            });
            query_string += "}";
            window.location.replace(url + query_string);
        }
    </script>
    <script type="text/javascript">
        function filter_dups() {
            if ($('#show_dups').is(":checked")) {
                $('.dataTable').dataTable().fnFilter('');
            } else {
                $('.dataTable').dataTable().fnFilter("^(.(?!DUP))*$", null, true, false);
            }
        }
    </script>
</head>
<body>
<div class="page-header">
    <div style="float:right"><img src="/static/header.png" style="width:269px;height:53px"></div>
    <h1><a href="/" style="color:black; text-decoration:none">ALE Analytics </a> /
        <b>{{ ale_experiment_name }}</b> {{ template_header }}</h1>
</div>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/">ALE Experiments</a></li>
    <li role="presentation"><a href="/dashboard">Dashboard</a></li>
    <li role="presentation"><a href="/search">Search</a></li>
    <li role="presentation"><a href="/filter/global_filter">Filter</a></li>
</ul>
<br><br>

<!-- ALE selection drop-down -->
{% if experiment_id %}
    <form action="" method="get">
        <p>
            <input type="hidden" name="ale_experiment_id" value="{{ experiment_id }}"/>
            <select name="ale_no" class="ui">
                <option value="all">All ales</option>
                {% for ale in ales %}
                    <option {% if ale.ale_id == ale_no %}selected="selected" {% endif %}
                            value="{{ ale.ale_id }}">{{ ale.ale_id }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input type="submit" value="Apply" class="ui"/>
        </p>
    </form>
{% endif %}

<!-- Mutation table -->
<form action="" method="get">
    <input type="hidden" name="ale_experiment_id" value="{{ experiment_id }}"/>
    {% if ale_no %}
        <input type="hidden" name="ale_no" value="{{ ale_no }}"/>
    {% else %}
        <input type="hidden" name="ale_no" value="all"/>
    {% endif %}
    <table id="data">
        <input type="button" value="Remove checked samples" class="ui" onclick="filterSample('remove')"/>
        <input type="button" value="Show checked samples" class="ui" onclick="filterSample('show')"/>
        {% include 'export_as_csv.html' %}
        <label style="float:right" class="ui"><input class="ui" id="show_dups" onclick="filter_dups(this)"
                                                     type="checkbox" name="checkbox" value="value"
                                                     style="margin-left: 10px" checked> Show Duplications</label>
        <thead>
        {{ table_header }}
        </thead>
        <tbody>
        {{ table_body }}
        </tbody>
    </table>
</form>
</body>
</html>
