{% extends 'dashboard_base.html' %}

{% block title %}<title>{{ title }}</title>{% endblock %}
{% block scripts_and_style %}
    <script type="text/javascript">
        $(function(){
            $("#first li a").click(function(){
                $("#first_button").text($(this).text());
                $("#first_button").val($(this).text());
                document.getElementById('first_exp').value = $(this).text()
            });
         });
        $(function(){
            $("#second li a").click(function(){
                $("#second_button").text($(this).text());
                $("#second_button").val($(this).text());
                document.getElementById('second_exp').value = $(this).text()
            });
         });
    </script>
    <style>
        .huge {
            font-size: 28px;
        }
        .panel-magenta {
            background-color: #b7337a;
            color: white;
        }
        .panel-purple {
            background-color: #7033b7;
            color: white;
        }
        .panel-orange {
            background-color: #b77033;
            color: white;
        }
    </style>
{% endblock %}
{% block header %}{{ header }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="first_button">First Experiment</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" id="first">
                {% for exp in experiments %}
                    <li><a href="#/">{{ exp.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="second_button">Second Experiment</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" id="second">
                {% for exp in experiments %}
                    <li><a href="#/">{{ exp.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group">
            <form action="/compare/" method="get">
                <input type="submit" class="btn btn-default" id="compare" name="compare" value="Compare">
                <input type="hidden" name="first_exp" id="first_exp" value="">
                <input type="hidden" name="second_exp" id="second_exp" value="">
            </form>
        </div>
    </div>
    {% if has_comparison %}
        <br><br>
        <div class="row">
            <a href="/compare/metadata?first_exp={{ first_exp_name }}&second_exp={{ second_exp_name }}">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-info fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Meta Data</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/compare/mutations?first_exp={{ first_exp_name }}&second_exp={{ second_exp_name }}">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Mutations</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/compare/enrichment?first_exp={{ first_exp_name }}&second_exp={{ second_exp_name }}">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bar-chart-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Enriched Mutations</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/compare/fixation?first_exp={{ first_exp_name }}&second_exp={{ second_exp_name }}">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-signal fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Fixating Mutations</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endblock %}
