th{
    padding-left: 3em;
}

.git-hash{
    display: block;
    font-size:.7em;
    padding-left:1.5em;
}

.d3-tip{
    z-index: 1001;
}

.reject {
    background-color: #f1f1f1;
    color: #db3b5e;
    padding: .5%;
}

.next {
    background-color: #f1f1f1;
    color: #0a8211;
    padding: .5%;
}

.neighbor {
    background-color: #f1f1f1;
    color: black;
    padding: .5%;
}

#footer {
    position: fixed;
    bottom: 0;
    margin: 1%;
    padding: .5%;
    width: 100%;
    font-size: 22px;
}
#center {
    width: 500px;
    margin: 0 auto;
}