.git-hash{
    display: block;
    font-size:.7em;
    padding-left:1.5em;
}

.d3-tip{
    z-index: 1001;
}

.reject {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#center {
    width: 500px;
    margin: 0 auto;
}