{% extends 'dashboard_base.html' %}
{% block title %}<title>Bibliome</title>{% endblock %}
{% block header %}Bibliome{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Publications described by ALEdb projects</h3>
        </div>
        <table class="table">
            <tr>
                <td>PGI</td>
                <td>Charusanti, P., Conrad, T. M., Knight, E. M., Venkataraman, K., Fong, N. L., Xie, B., … Palsson, B.
                    Ø. (2010). Genetic Basis of Growth Adaptation of Escherichia coli after Deletion of pgi, a Major
                    Metabolic Gene. PLoS Genetics, 6(11), e1001186. http://doi.org/10.1371/journal.pgen.1001186
                </td>
            </tr>
            <tr>
                <td>C13</td>
                <td>Sandberg, T. E., Long, C. P., Gonzalez, J. E., Feist, A. M., Antoniewicz, M. R., & Palsson, B. O.
                    (2016). Evolution of E. coli on [U-13C]Glucose Reveals a Negligible Isotopic Influence on Metabolism
                    and Physiology. PLoS ONE, 11(3), e0151130. http://doi.org/10.1371/journal.pone.0151130
                </td>
            </tr>
            <tr>
                <td>42C</td>
                <td>Sandberg, T. E., Pedersen, M., LaCroix, R. A., Ebrahim, A., Bonde, M., Herrgard, M. J., … Feist, A.
                    M. (2014). Evolution of Escherichia coli to 42 °C and Subsequent Genetic Engineering Reveals
                    Adaptive Mechanisms and Novel Mutations. Molecular Biology and Evolution, 31(10), 2647–2662.
                    http://doi.org/10.1093/molbev/msu209
                </td>
            </tr>
            <tr>
                <td>GLU</td>
                <td>LaCroix, R. A., Sandberg, T. E., O’Brien, E. J., Utrilla, J., Ebrahim, A., Guzman, G. I., … Feist,
                    A. M. (2015). Use of Adaptive Laboratory Evolution To Discover Key Mutations Enabling Rapid Growth
                    of Escherichia coli K-12 MG1655 on Glucose Minimal Medium. Applied and Environmental Microbiology,
                    81(1), 17–30. http://doi.org/10.1128/AEM.02246-14
                </td>
            </tr>
            <tr>
                <td>
                    <span class="line">SSW GLU AC,</span>
                    <span class="line">SSW GLU GLY,</span>
                    <span class="line">SSW GLY XYL</span>
                </td>
                <td>Sandberg, T. E., Lloyd, C. J., Palsson, B. O., Feist, A. M. (2017). Laboratory evolution to
                    alternating substrate
                    environments yields distinct phenotypic and genetic adaptive strategies. Appl Environ Microbiol.
                    https://doi.org/10.1128/AEM.00410-17.
                </td>
            </tr>
            <tr>
                <td>
                    <span class="line">LTEE,</span>
                    <span class="line">LTEE ARA</span>
                </td>
                <td>Tenaillon, O., Barrick, J. E., Ribeck, N., Deatherage, D. E., Blanchard, J. L., Dasgupta, A., …
                    Lenski, R. E. (2016). Tempo and mode of genome evolution in a 50,000-generation experiment. Nature,
                    536(7615), 165–170. http://doi.org/10.1038/nature18959
                </td>
            </tr>
        </table>
    </div>
{% endblock %}