{% extends 'dashboard_base.html' %}
{% block title %}<title>Bibliome</title>{% endblock %}
{% block header %}Bibliome{% endblock %}
{% block content %}
    <!--Using Public Library of Science (PLoS) citation style along with the inclusion of a DOI link.-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Publications described by ALEdb projects</h3>
        </div>
        <table class="table">
            <tr>
                <td>PGI</td>
                <td>
                    <p>Charusanti P, Conrad TM, Knight EM, Venkataraman K, Fong NL, Xie B, et al. Genetic Basis of Growth
                    Adaptation of Escherichia coli after Deletion of pgi, a Major Metabolic Gene. PLoS Genet. Public
                        Library of Science; 2010;6: e1001186. http://doi.org/10.1371/journal.pgen.1001186</p>
                    <p>Long CP, Gonzalez JE, Feist AM, Palsson BO, Antoniewicz MR. Dissecting the genetic and metabolic
                        mechanisms of adaptation to the knockout of a major metabolic enzyme in Escherichia coli. Proc
                        Natl Acad Sci U S A. 2018;115: 222–227. http://doi.org/10.1073/pnas.1716056115</p>
                </td>

            </tr>
            <tr>
                <td>C13</td>
                <td>Sandberg TE, Long CP, Gonzalez JE, Feist AM, Antoniewicz MR, Palsson BO. Evolution of E. coli on
                    [U-13C]Glucose Reveals a Negligible Isotopic Influence on Metabolism and Physiology. PLoS One.
                    2016;11: e0151130. http://doi.org/10.1371/journal.pone.0151130
                </td>
            </tr>
            <tr>
                <td>42C</td>
                <td>Sandberg TE, Pedersen M, LaCroix RA, Ebrahim A, Bonde M, Herrgard MJ, et al. Evolution of
                    Escherichia coli to 42 °C and subsequent genetic engineering reveals adaptive mechanisms and novel
                    mutations. Mol Biol Evol. 2014;31: 2647–2662. http://doi.org/10.1093/molbev/msu209
                </td>
            </tr>
            <tr>
                <td>GLU</td>
                <td>LaCroix RA, Sandberg TE, O’Brien EJ, Utrilla J, Ebrahim A, Guzman GI, et al. Use of adaptive
                    laboratory evolution to discover key mutations enabling rapid growth of Escherichia coli K-12 MG1655
                    on glucose minimal medium. Appl Environ Microbiol. 2015;81: 17–30.
                    http://doi.org/10.1128/AEM.02246-14
                </td>
            </tr>
            <tr>
                <td>SER</td>
                <td>Mundhada H, Seoane JM, Schneider K, Koza A, Christensen HB, Klein T, et al. Increased production of L-serine in Escherichia coli through Adaptive Laboratory Evolution. Metab Eng. 2017;39: 141–150. https://doi.org/10.1016/j.ymben.2016.11.008
                </td>
            </tr>
            <tr>
                <td>
                    <span class="line">SSW AC,</span>
                    <span class="line">SSW GLY,</span>
                    <span class="line">SSW XYL,</span>
                    <span class="line">SSW GLU AC,</span>
                    <span class="line">SSW GLU GLY,</span>
                    <span class="line">SSW GLY XYL</span>
                </td>
                <td>Sandberg TE, Lloyd CJ, Palsson BO, Feist AM. Laboratory Evolution to Alternating Substrate
                    Environments Yields Distinct Phenotypic and Genetic Adaptive Strategies. Appl Environ Microbiol.
                    2017;83. https://doi.org/10.1128/AEM.00410-17.
                </td>
            </tr>
            <tr>
                <td>
                    <span class="line">LTEE,</span>
                    <span class="line">LTEE ARA</span>
                </td>
                <td>Tenaillon O, Barrick JE, Ribeck N, Deatherage DE, Blanchard JL, Dasgupta A, et al. Tempo and mode of
                    genome evolution in a 50,000-generation experiment. Nature. 2016;536: 165–170.
                    http://doi.org/10.1038/nature18959
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
