{% extends 'dashboard_base.html' %}
{% block title %}<title>Resequencing Runs</title>{% endblock %}
{% block scripts_and_style %}
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>

    <link rel="stylesheet" href="/static/tablesorter/themes/blue/style.css" type="text/css"
          media="print, projection, screen"/>

    <script type="text/javascript">
        var asInitVals = new Array();
        $(document).ready($(function () {
            oTable = $("#runs").tablesorter({widgets: ['zebra']});

        }));
    </script>
{% endblock %}
{% block header %}<b>{{ ale_experiment_name }}</b> Sample Meta Data{% endblock %}
{% block content %}
<div class="row">
    <table id="runs" class="tablesorter">
        <thead>
        <tr>
            <th>ALE, Flask, Isolate</th>
            <th>Clonal or Population</th>
            <th>Species</th>
            <th>Strain</th>
            <th>Description</th>
            <th>Media</th>
            <th>Substrate</th>
            <th>Temperature</th>
            <th>Library Prep</th>
            <th>Reference</th>
            <th>Breseq Version</th>
            <th>Reseq Date</th>

        </tr>
        </thead>
        <tbody>
        {% for reseq_info_tuple in reseq_info_list %}
            <tr class="experiment_stats">
                <td class="sample_name"><a href="
                        {{ reseq_report_url }}{{ reseq_info_tuple.0.location }}">{{ reseq_info_tuple.0.ale_flask_isolate_str }}</a>
                </td>
                <td class="clonal_or_population">{{ reseq_info_tuple.1 }}</td>
                <td class="species">{{ reseq_info_tuple.5 }}</td>
                <td class="strain">{{ reseq_info_tuple.6 }}</td>
                <td class="knockouts">{{ reseq_info_tuple.7 }}</td>
                <td class="media_description">{{ reseq_info_tuple.3 }}</td>
                <td class="substrate">{{ reseq_info_tuple.4 }}</td>
                <td class="temperature">{{ reseq_info_tuple.2 }}</td>
                <td class="library_prep">{{ reseq_info_tuple.8 }}</td>
                <td class="reseq_reference">{{ reseq_info_tuple.9 }}</td>
                <td class="breseq_version">{{ reseq_info_tuple.10 }}</td>
                <td class="reseq_date">{{ reseq_info_tuple.11 }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}