{% extends 'dashboard_base.html' %}
{% block title %}<title>Resequencing Runs</title>{% endblock %}
{% block scripts_and_style %}
    <style type="text/css">
        table.dataTable tr.odd { background-color: lightgrey; }
        table.dataTable tr.even { background-color: white; }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#runs').DataTable({
                paging: false,
                dom: 'l<<"pull-left"B><"pull-right"f>r>t<<"pull-left"i><"pull-right"p>>',
                buttons: [
                    'colvis', 'csv'
                ],
                deferRender: true
            });
        })
    </script>
{% endblock %}
{% block header %}<b>{{ ale_experiment_name }}</b> Sample Meta Data{% endblock %}
{% block content %}
<div class="row">
    <table id="runs" class="table">
        <thead>
        <tr>
            {% if multiple %}
                <th>Experiment Name</th>
            {% endif %}
            <th>ALE, Flask, Isolate</th>
            <th>Clonal or Population</th>
            <th>Species</th>
            <th>Strain</th>
            <th>Additional Strain Details</th>
            <th>Media</th>
            <th>Substrate</th>
            <th>Temperature</th>
            <th>ALE Sample Details</th>
            <th>WGS kit</th>
            <th>Reference</th>
            <th>Breseq Version</th>
            <th>Reseq Date</th>

        </tr>
        </thead>
        <tbody>
        {% for reseq_info_tuple in reseq_info_list %}
            <tr class="experiment_stats">
                {% if multiple %}
                    <td class="name">{{ reseq_info_tuple.12 }}</td>
                {% endif %}
                <td class="sample_name"><a href="
                        {{ reseq_report_url }}{{ reseq_info_tuple.0.location }}">{{ reseq_info_tuple.0.ale_flask_isolate_str }}</a>
                </td>
                <td class="clonal_or_population">{{ reseq_info_tuple.1 }}</td>
                <td class="species">{{ reseq_info_tuple.5 }}</td>
                <td class="strain">{{ reseq_info_tuple.6 }}</td>
                <td class="knockouts">{{ reseq_info_tuple.7 }}</td>
                <td class="media_description">{{ reseq_info_tuple.3 }}</td>
                <td class="substrate">{{ reseq_info_tuple.4 }}</td>
                <td class="temperature">{{ reseq_info_tuple.2 }}</td>
                <td class="tech_rep_description">{{ reseq_info_tuple.13 }}</td>
                <td class="library_prep">{{ reseq_info_tuple.8 }}</td>
                <td class="reseq_reference">{{ reseq_info_tuple.9 }}</td>
                <td class="breseq_version">{{ reseq_info_tuple.10 }}</td>
                <td class="reseq_date">{{ reseq_info_tuple.11 }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
