{% extends 'base.html' %}
{% load static %}
{% load view_filter %}
{% block title %}Mutations{% endblock %}
{% block scripts_and_style %}

    <script src="{% static "vendor/bootstrap-3.3.7/js/bootstrap.min.js" %}"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            type="text/javascript"></script>
    <link rel="stylesheet"
          href="{% static "vendor/bootstrap-select-1.12.4/css/bootstrap-select.min.css" %}">
    <script src="{% static "vendor/bootstrap-select-1.12.4/js/bootstrap-select.min.js" %}"></script>

    <script src="{% static "vendor/sweetalert-2.1.2/sweetalert.min.js" %}"></script>

    <style type="text/css">

        .FixedHeader_Cloned th {
            background-color: white;
            opacity: 0.5;
        }

        .intergenic {
            font-style: italic;
        }

        .mutation_in_codon {
            color: red;
            text-decoration: underline;
        }

        .reference_error {
            text-decoration: line-through;
        }

        table.dataTable tr.odd {
            background-color: #E2E4FF;
        }

        table.dataTable tr.even {
            background-color: white;
        }

        .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
            background-color: #4078c0;
        }
    </style>

{% endblock %}
{% block header %}<b><a href="/project/{{ ale_project_id }}">{{ ale_project_name }}</a>: {{ experiment_name }}</b> - {{ template_header }}{% endblock %}
{% block content %}
    {% if experiment_id %}
        <div class="row"> <!-- Columns -->
            <form action="" method="get">
            {% csrf_token %}
                <br>
                <b>Columns: </b>
                <input type="hidden" name="experiment_id" value="{{ experiment_id  }}"/>
                <input type="hidden" id="hidden_columns" name="hidden_columns" value="{{ hidden_columns }}"/>
                <select name="{{ PARAM_POPULATION }}" class="selectpicker">
                    <option value="{{ PARAM_ALL }}">All populations</option>
                    {% for ale in ales %}
                        <option {% if ale == population %}selected="selected" {% endif %}
                                value="{{ ale }}">{{ ale }}</option>
                    {% endfor %}
                </select>
                <select name="{{ PARAM_SAMPLE_TYPE }}" class="selectpicker">
                    <option value="{{ PARAM_ALL }}">All sample types</option>
                    <option {% if sample_type == SAMPLE_TYPE_CLONAL %}selected="selected" {% endif %}
                            value="{{ SAMPLE_TYPE_CLONAL }}">Clonal samples</option>
                    <option {% if sample_type == SAMPLE_TYPE_MIXED %}selected="selected" {% endif %}
                            value="{{ SAMPLE_TYPE_MIXED }}">Population samples</option>
                </select>
                <select name="tag_select" class="selectpicker">
                    <option value="All Tags">All Tags</option>
                    {% for key, value in tag_dropdown.items %}
                        <option>Show Tag: {{ key }} </option>
                        <option>Hide Tag: {{ key }}</option>
                    {% endfor %}
                </select>
                {% comment %} The reader's own filter, in the form that already carries every
                   other view control on this page -- one Apply button, not two. A
                   `Show Experiment Filtered` checkbox stood here: it revealed what the *shared*
                   experiment filter hid, a question that stops meaning anything once the filter
                   is yours and clearing it is a click away. It was gated on a flag only Compare
                   set, because it rendered inert on the other three pages; the tag gates itself
                   now. {% endcomment %}
                {% view_filter_fields %}
                <input type="submit" class="btn btn-default btn-primary" value="Apply"/>
                <button type="button" class="btn btn-default" onclick="column_sort_from_right()">
                    <i class="fa fa-sort-amount-desc fa-fw" aria-hidden="true"></i>Column Sort from Right
                </button>
            </form>
        </div>
        {% comment %} What filtering produced the table below. Included here rather than in
           each page, because this template is shared by mutint-compare, mutint-fixation and
           mutint-converge -- so all three say what they did, and all three get the controls
           above, without a line of their own. The tags read `experiment_id` and the request
           straight out of the context they already set. {% endcomment %}
        {% view_filter_summary %}
        <div><i>Note: You must select the Apply button when selecting specific ALEs or show/hide of columns according to
            tags.</i></div>
        <br>
        {% if user.id %}
        <div class="row"> <!-- Rows -->
            <b>Rows: </b>
            <div class="btn-group" role="group">
                <button id="row_tag_selector" type="button" class="btn btn-default"
                        style="width: 180px; text-align: left">All Tags
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="filter_tag('clear', true, 'All Tags')" style="cursor:pointer">All Tags</a></li>
                    {% for key, value in tag_dropdown.items %}
                        <li><a onclick="filter_tag('{{ key }}', true, 'Show Tag: {{ key }}')" style="cursor:pointer">Show
                            Tag: {{ key }} {{ value | safe }}</a></li>
                        <li><a onclick="filter_tag('{{ key }}', false, 'Hide Tag: {{ key }}')" style="cursor:pointer">Hide
                            Tag: {{ key }} {{ value | safe }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <b style="margin-left: 3%">Tags: </b>
            <input id="tag_toggle" type="checkbox" data-toggle="toggle" checked data-on="Show" data-off="Hide">
        </div>
        {% endif %}

        <!-- Mutation table -->
        <form action="" method="get">
            <input type="hidden" name="experiment_id" value="{{ experiment_id  }}"/>
            {% if population %}
                <input type="hidden" name="{{ PARAM_POPULATION }}" value="{{ population }}"/>
            {% else %}
                <input type="hidden" name="{{ PARAM_POPULATION }}" value="{{ PARAM_ALL }}"/>
            {% endif %}
            <table id="data" class="table" cellspacing="0px">
                <br>
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
            <script type="text/javascript">
                var refseq_column = {{ refseq_column }}
                var sorted_column = refseq_column + 1;
                var table_data = {{ table_body }};
                var table_titles = {{ table_header | safe }};
                var table_heads = [];
                var number_of_columns = 0;
                var tag_list = {{ tag_dropdown | safe}};
                for (var x in table_titles) {
                    table_heads.push({title: table_titles[x]});
                    number_of_columns += 1;
                }
                {% include 'table_template.js' %}
            </script>
        </form>
    {% endif %}
{% endblock %}
