<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min">
    <title>ALE Analytics / About</title>
</head>
<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>
<body>

<div class="page-header">
    <h1>ALE Analytics / About</h1>
</div>

<div><img src="/static/ale_diagram.PNG" style="width:693px;height:471px"></div>

</body>
</html>