{% extends 'dashboard_base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block scripts_and_style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/c56cc57732.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">

    <style type="text/css" title="currentStyle">
        @import "/static/DataTables/extras/TableTools/media/css/TableTools.css";

        .FixedHeader_Cloned th {
            background-color: white;
            opacity: 0.5;
        }
        .intergenic {
            font-style: italic;
        }
        .mutation_in_codon {
            color: red;
            text-decoration: underline;
        }
        .reference_error {
            text-decoration: line-through;
        }
        #true {
            background-color: rgba(0, 255, 0, 0.1)
        }
        #empty {
            background-color: rgba(255, 0, 0, 0.1)
        }
    </style>

    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/FixedHeader/js/FixedHeader.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/ColReorder/media/js/ColReorder.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var sorted_column = {% block sorted_column %}{% endblock %};

            var non_sortable_columns = [0, 1];

            if(sorted_column == 3) {
                non_sortable_columns = [0, 1, 2];
            }

            var oTable = $("#data").dataTable({
                "bPaginate": false,
                "bAutoWidth": false,
                "aoColumnDefs": [ {
                    "aTargets": non_sortable_columns,
                    "bSortable": false
                    } ]
            }).fnSort([[sorted_column, 'asc']]);
            $("tr td:first-child").each(function () {
                $(this).hover(
                        function () {
                            $(this).children(".shut").css("display", "block");
                        },
                        function () {
                            $(this).children(".shut").css("display", "none");
                        }
                );
            });
            var filter_offset = $("#data_filter").offset();
            $(window).resize(function () {
                filter_offset = $("#data_filter").offset();
            });
            var ui_offset = [];
            $(".ui").each(function () {
                ui_offset.push($(this).offset().left);
            });
            $(window).scroll(function () {
                var scrollLeft = $(window).scrollLeft();
                $("#data_filter").offset({left: filter_offset.left + scrollLeft});
                i = 0;
                $(".ui").each(function () {
                    $(this).offset({left: ui_offset[i++] + scrollLeft});
                });
            });
            var hidden_cols = document.getElementById('hidden_columns').value.split(',');
            for (var i = 0, len = hidden_cols.length; i < len; i++) {
                if(hidden_cols[i] == "") {
                    continue
                }
                fnShowHide(parseInt(hidden_cols[i]))
            }
        });
    </script>
    <script type="text/javascript">
        function fnShowHide( iCol ) {
            var oTable = $('#data').dataTable();

            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            if(bVis == true) {
                oTable.fnSetColumnVis( iCol, false );
                if(!document.getElementById('hidden_columns').value.includes(iCol)) {
                    document.getElementById('hidden_columns').value = document.getElementById('hidden_columns').value + "," + iCol;
                }
            } else {
                oTable.fnSetColumnVis( iCol, true );
                if(document.getElementById('hidden_columns').value.includes(iCol)) {
                    document.getElementById('hidden_columns').value = document.getElementById('hidden_columns').value.replace(iCol, "");
                }
            }
        }
    </script>
    <script>
        var deleteRow = function () {
            var row = $(this).closest("tr").get(0);
            $('.dataTable').dataTable().fnDeleteRow(row);
        };
        var filterSample = function (filter_type) {
            var url = location.href.split("&remove=")[0].split("&show=")[0];
            checked_samples = [];
            $("tr td").children(".cb").each(function () {
                if (this.checked) {
                    checked_samples.push(this.name);
                }
            });
            var removed_sample_ids, kept_sample_ids;
            location.href.split("&").forEach(function (s) {
                if (s.indexOf("remove") >= 0) {
                    removed_sample_ids = s.split("=")[1];
                }
                else if (s.indexOf("show") >= 0) {
                    kept_sample_ids = s.split("=")[1];
                }
            });
            if (filter_type == "remove") {
                query_string = typeof kept_sample_ids != "undefined" ? "&show=" + kept_sample_ids : "";
                query_string += typeof removed_sample_ids != "undefined" ? "&remove=" + removed_sample_ids.replace("}", "") : "&remove={";
            }
            else if (filter_type == "show") {
                query_string = "&show={";
            }
            checked_samples.forEach(function (id) {
                query_string += id + ",";
            });
            query_string += "}";
            window.location.replace(url + query_string);
        }
    </script>
    <script>
        function filter_dups() {
            if ($('#show_dups').is(":checked")) {
                $('.dataTable').dataTable().fnFilter('');
            } else {
                $('.dataTable').dataTable().fnFilter("^(.(?!DUP))*$", null, true, false);
            }
        }

        function save_to_global_filter(mutation_id) {
            console.log("SAVING TO GLOBAL");
            $.ajax({
                type: "POST",
                url: "",
                data: { mut_id: mutation_id,
                        save_method: "global"
                },
                success: function (response) {
                    console.log("SUCCESS");
                }
            })
        }

        function save_to_experiment_filter(ale_experiment_id, mutation_id) {
            console.log("SAVING TO EXP");
            $.ajax({
                type: "POST",
                url: "",
                data: { mut_id: mutation_id,
                        save_method: "experiment"
                },
                success: function (response) {
                    console.log("SUCCESS");
                }
            })
        }

    </script>
{% endblock %}
{% block header %}<b>{{ ale_experiment_name }}</b> {{ template_header }}{% endblock %}
{% block content %}
<div class="row">
     <!-- ALE selection drop-down -->
    {% if experiment_id %}
        <form action="" method="get">
            <p>
                <input type="hidden" name="ale_experiment_id" value="{{ experiment_id }}"/>
                <input type="hidden" id="hidden_columns" name="hidden_columns" value="{{ hidden_columns }}"/>
                <select name="ale_no" class="ui">
                    <option value="all">All ales</option>
                    {% for ale in ales %}
                        <option {% if ale.ale_id == ale_no %}selected="selected" {% endif %}
                                value="{{ ale.ale_id }}">{{ ale.ale_id }}</option>
                    {% endfor %}
                </select>
                <label class="ui"><input type="checkbox" name="wtflt" {% if wt_filter %} checked{% endif %} /> WT Filter</label>
            </p>
            <p>
                <input type="submit" value="Apply" class="ui"/>
            </p>
        </form>
    {% endif %}

    <!-- Mutation table -->
    <form action="" method="get">
        <input type="hidden" name="ale_experiment_id" value="{{ experiment_id }}"/>
        {% if ale_no %}
            <input type="hidden" name="ale_no" value="{{ ale_no }}"/>
        {% else %}
            <input type="hidden" name="ale_no" value="all"/>
        {% endif %}
        <table id="data">
            <input type="button" value="Remove checked samples" class="ui" onclick="filterSample('remove')"/>
            <input type="button" value="Show checked samples" class="ui" onclick="filterSample('show')"/>
            {% include 'export_as_csv.html' %}
            <label style="float:right" class="ui"><input class="ui" id="show_dups" onclick="filter_dups(this)"
                                                         type="checkbox" name="checkbox" value="value"
                                                         style="margin-left: 10px" checked> Show Duplications</label>
            <br><br>
            {% block show_hide_columns %}{% endblock %}
            <thead>
            {{ table_header }}
            </thead>
            <tbody>
            {{ table_body }}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}