{% extends 'dashboard_base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block scripts_and_style %}
    <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">

    <style type="text/css" title="currentStyle">
        @import "/static/DataTables/extras/TableTools/media/css/TableTools.css";

        .FixedHeader_Cloned th {
            background-color: white;
            opacity: 0.5;
        }
        .intergenic {
            font-style: italic;
        }
        .mutation_in_codon {
            color: red;
            text-decoration: underline;
        }
        .reference_error {
            text-decoration: line-through;
        }
        #true {
            background-color: rgba(0, 255, 0, 0.1)
        }
        #empty {
            background-color: rgba(255, 0, 0, 0.1)
        }
    </style>

    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/FixedHeader/js/FixedHeader.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/ColReorder/media/js/ColReorder.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
{% endblock %}
{% block header %}<b>{{ ale_experiment_name }}</b> {{ template_header }}{% endblock %}
{% block content %}
<div class="row">
     <!-- ALE selection drop-down -->
    {% if experiment_id %}
        <form action="" method="get">
            <p>
                <input type="hidden" name="ale_experiment_id" value="{{ experiment_id }}"/>
                <input type="hidden" id="hidden_columns" name="hidden_columns" value="{{ hidden_columns }}"/>
                <select name="ale_no" class="ui">
                    <option value="all">All ales</option>
                    {% for ale in ales %}
                        <option {% if ale.ale_id == ale_no %}selected="selected" {% endif %}
                                value="{{ ale.ale_id }}">{{ ale.ale_id }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <input type="submit" value="Apply" class="ui"/>
            </p>
        </form>
    {% endif %}

    <!-- Mutation table -->
    <form action="" method="get">
        <input type="hidden" name="ale_experiment_id" value="{{ experiment_id }}"/>
        {% if ale_no %}
            <input type="hidden" name="ale_no" value="{{ ale_no }}"/>
        {% else %}
            <input type="hidden" name="ale_no" value="all"/>
        {% endif %}
        <table id="data">
            <div class="ui">
                <input type="button" value="Remove checked samples" onclick="filterSample('remove')"/>
                <input type="button" value="Show checked samples" onclick="filterSample('show')"/>
                <a href="#" id ="export" class="ui" style="text-decoration: none;font: 14px Arial; background-color: #F0F0F0;
                                            color: #333333; padding: 3px 4px 4px 4px; border: 1px solid #aaaaaa">
                                            Export Table as CSV</a>
                {% include 'export_as_csv.html' %}
                <label style="float:right"><input id="show_dups" onclick="filter_dups(this)"
                                                             type="checkbox" name="checkbox" value="value"
                                                             style="margin-left: 10px" checked> Show Duplications</label>

            <button type="button" class="ui" onclick="column_sort_from_right()">Column Sort from Right</button>
            </div>
            <br><br>
            {% block show_hide_columns %}{% endblock %}
            <thead>
            {{ table_header }}
            </thead>
            <tbody>
            {{ table_body }}
            </tbody>
        </table>
        <script type="text/javascript">
            var sorted_column = {% block sorted_column %}{% endblock %};
            {% include 'table_template.js' %}
        </script>
    </form>
</div>
{% endblock %}