{% extends 'dashboard_base.html' %}
    {% block title %}<title>Dashboard</title>{% endblock %}
    {% block scripts_and_style %}

<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>
{% endblock %}
<br>
{% block ale %}{% endblock %}
{% block dash %}class="active"{% endblock %}
{% block search %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ALE Analytics Unique Mutation Stats</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Mutation Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Single Base Substitutions</td>
                        <td>{{ mutation_type_count_dict.SNP }}</td>
                    </tr>
                    <tr>
                        <td>Multiple Base Substitutions</td>
                        <td>{{ mutation_type_count_dict.SUB }}</td>
                    </tr>
                    <tr>
                        <td>Deletions</td>
                        <td>{{ mutation_type_count_dict.DEL }}</td>
                    </tr>
                    <tr>
                        <td>Insertions</td>
                        <td>{{ mutation_type_count_dict.INS }}</td>
                    </tr>
                    <tr>
                        <td>Mobile Element Insertions</td>
                        <td>{{ mutation_type_count_dict.MOB }}</td>
                    </tr>
                    <tr>
                        <td>Amplifications</td>
                        <td>{{ mutation_type_count_dict.AMP }}</td>
                    </tr>
                    <tr>
                        <td>Gene Conversions</td>
                        <td>{{ mutation_type_count_dict.CON }}</td>
                    </tr>
                    <tr>
                        <td>Inversions</td>
                        <td>{{ mutation_type_count_dict.INV }}</td>
                    </tr>
                    <tr>
                        <td>Duplications</td>
                        <td>{{ mutation_type_count_dict.DUP }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ALE Analytics Unique Functional Change Stats</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Functional Change Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Intergenic</td>
                        <td>{{ protein_change_type_count_dict.intergenic }}</td>
                    </tr>
                    <tr>
                        <td>Intragenic</td>
                        <td>{{ protein_change_type_count_dict.noncoding }}</td>
                    </tr>
                    <tr>
                        <td>Pseudogenes</td>
                        <td>{{ protein_change_type_count_dict.pseudogenes }}</td>
                    </tr>
                    <tr>
                        <td>Synonymous</td>
                        <td>{{ protein_change_type_count_dict.snp_type_synonymous }}</td>
                    </tr>
                    <tr>
                        <td>Nonsynonymous</td>
                        <td>{{ protein_change_type_count_dict.snp_type_nonsynonymous }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
