<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ALE Analytics Mutation Filtering Options</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>


<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>

<body>

<div class="page-header">
    <div style="float:right"><img src="/static/header.png" style="width:269px;height:53px"></div>
    <h1><a href="/ale_analytics/" style="color:black; text-decoration:none">ALE Analytics </a>
    / <b> {{ ale_experiment_name }} </b> Duplications </h1>
</div>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/ale_analytics">ALE Experiments</a></li>
    <li role="presentation"><a href="/ale_analytics/dashboard">Dashboard</a></li>
    <li role="presentation"><a href="/ale_analytics/search">Search</a></li>
</ul>
<br><br>

<table id="runs" class="tablesorter">
    <thead>
    <tr>
        <th>ALE, Flask, Isolate</th>

    </tr>
    </thead>
    <tbody>
    {% for experiment_url, experiment_name in experiment_links %}
        <tr class="experiment_stats">

            {% if experiment_url != False %}
                <td class="sample_name"><a href="{{ experiment_url }}">{{ experiment_name }}</a></td>
            {% else %}
                <td class="sample_name">{{ experiment_name }}</td>
            {% endif %}

        </tr>

    {% endfor %}
    </tbody>
</table>
</body>
</html>
