<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Filter</title>
</head>


<style>

    body {
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    }

</style>

<body>
<div class="page-header">
    <h2><a href="http://localhost:8000/ale_analytics/"  style="color:black; text-decoration:none" >ALE Analytics </a> / <b> {{ ale_experiment_name }} </b> Filter </h2>
</div>
<form action="" method="POST">

    Minimum Cutoff % {{form.min_cutoff}}
    <br>
    Maximum Cutoff % {{form.max_cutoff}}
    <br>
    Ignore Gene:
    <br>
    {{form.one}}
    <br>
    {{form.two}}
    <br>
    {{form.three}}
    <br>
    {{form.four}}
    <br>
    {{form.five}}
    <br>
    {{form.six}}
    <br>
    {{form.seven}}
    <br>
    {{form.eight}}
    <br>
    {{form.nine}}
    <br>
    {{form.ten}}
    <br>
    <br>
    <input type="submit" value="Save" name="save">


</form>

</body>
</html>