<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>ALE Analytics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/static/tablesorter/themes/blue/style.css" type="text/css"
          media="print, projection, screen"/>
    <script type="text/javascript">
        var asInitVals = new Array();
        $(document).ready($(function () {
            oTable = $("#runs").tablesorter({widgets: ['zebra']});

        }));
    </script>
    <!-- Sorts Table alphabetically by ALE Experiment Name -->
    <script>
        $(document).ready(function() {
            $("#runs").tablesorter({sortList: [[0,0]]});
        });
    </script>

</head>

<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>

<body>

<div class="page-header">
    <div style="float:right"><img src="/static/header.png" style="width:269px;height:53px"></div>
    <h1>ALE Analytics</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ALE Analytics Unique Mutation Stats</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Mutation Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Single Base Substitutions</td>
                        <td>{{ mutation_type_count_dict.SNP }}</td>
                    </tr>
                    <tr>
                        <td>Multiple Base Substitutions</td>
                        <td>{{ mutation_type_count_dict.SUB }}</td>
                    </tr>
                    <tr>
                        <td>Deletions</td>
                        <td>{{ mutation_type_count_dict.DEL }}</td>
                    </tr>
                    <tr>
                        <td>Insertions</td>
                        <td>{{ mutation_type_count_dict.INS }}</td>
                    </tr>
                    <tr>
                        <td>Mobile Element Insertions</td>
                        <td>{{ mutation_type_count_dict.MOB }}</td>
                    </tr>
                    <tr>
                        <td>Amplifications</td>
                        <td>{{ mutation_type_count_dict.AMP }}</td>
                    </tr>
                    <tr>
                        <td>Gene Conversions</td>
                        <td>{{ mutation_type_count_dict.CON }}</td>
                    </tr>
                    <tr>
                        <td>Inversions</td>
                        <td>{{ mutation_type_count_dict.INV }}</td>
                    </tr>
                    <tr>
                        <td>Duplications</td>
                        <td>{{ mutation_type_count_dict.DUP }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ALE Analytics Unique Functional Change Stats</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Functional Change Type</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Intergenic</td>
                        <td>{{ protein_change_type_count_dict.intergenic }}</td>
                    </tr>
                    <tr>
                        <td>Intragenic</td>
                        <td>{{ protein_change_type_count_dict.noncoding }}</td>
                    </tr>
                    <tr>
                        <td>Pseudogenes</td>
                        <td>{{ protein_change_type_count_dict.pseudogenes }}</td>
                    </tr>
                    <tr>
                        <td>Synonymous</td>
                        <td>{{ protein_change_type_count_dict.snp_type_synonymous }}</td>
                    </tr>
                    <tr>
                        <td>Nonsynonymous</td>
                        <td>{{ protein_change_type_count_dict.snp_type_nonsynonymous }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<table id="ale_analytics_info" class="tablesorter">

    <thead>
    <tr>
        <th>Search Mutations</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="search">link</a></td>
    </tbody>

    <table id="runs" class="tablesorter">
        <thead>
        <tr>
            <th>ALE Experiment</th>
            <th>Experiment Executor</th>
            <th>Experiment Stats</th>
            <th>Meta Data</th>
            <th>Mutations</th>
            <th>Key Mutations</th>
            <th>Lineage</th>
            <th>Filter</th>
            <th>Duplications</th>
        </tr>
        </thead>
        <tbody>
        {% for experiment in experiments %}
        <tr>
            <td>{{experiment.name}}</td>
            <td>{{experiment.person}}</td>
            <td><a href="lists?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            <td><a href="meta_data?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            <td><a href="mutations?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            <td><a href="key_mutations?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            <td><a href="select_lineage?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            <td><a href="filter?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            <td><a href="duplication?ale_experiment_id={{experiment.ale_id}}">{{experiment.name}}</a></td>
            {% endfor %}
        </tbody>
    </table>
</table>

</body>
</html>
