<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>Ale Experiments</title>
        <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script> 
        <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>
        <link rel="stylesheet" href="/static/tablesorter/themes/blue/style.css" type="text/css" media="print, projection, screen" />
        <script type="text/javascript">
            var asInitVals = new Array();
            $(document).ready($(function() {
                oTable = $("#runs").tablesorter({widgets: ['zebra']});

            }));
        </script>
    </head>
    <body>
    <table id="runs" class="tablesorter">
        <thead>
            <tr>
                <th>ALE experiment</th>
                <th>Resequencing List</th>
                <th>Mutation Table</th>
                <th>Mutation Table by Experiment</th>
                <th>Isolates</th>
                <th>Lineage Table</th>
            </tr>
        </thead>
    <tbody>
    {% for experiment in experiments %}
        <tr>
            <td>{{experiment.name}}</td>
            <td><a href="lists?ale_experiment_id={{experiment.ale_id}}">link</a></td>
            <td><a href="mutations?ale_experiment_id={{experiment.ale_id}}">link</a></td>
            <td><a href="experiments?ale_experiment_id={{experiment.ale_id}}">link</a></td>
            <td><a href="isolates?ale_experiment_id={{experiment.ale_id}}">link</a></td>
            <td><a href="lineage?ale_experiment_id={{experiment.ale_id}}">link</a></td>
    {% endfor %}
    </tbody>
    </body>
</html>
