<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>Isolates</title>
        <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script> 
        <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>
        <link rel="stylesheet" href="/static/tablesorter/themes/blue/style.css" type="text/css" media="print, projection, screen" />
        <script type="text/javascript">
            var asInitVals = new Array();
            $(document).ready($(function() {
                oTable = $("#table").tablesorter({widgets: ['zebra']});

            }));
        </script>
    </head>
    <body>
    <table id="table" class="tablesorter">
        <thead>
            <tr>
                <th>Isolate description</th>
                <th>Population</th>
                <th>Sequenced</th>
            </tr>
        </thead>
    <tbody>
    {% for isolate in isolates %}
        <tr>
            <td><a href="../admin/ale/isolate/{{isolate.id}}">{{isolate}}</a></td>
            <td>{{isolate.is_population}}</td>
            {% if isolate.resequencingexperiment_set.count > 0 %}
            <td>True</td>
            {% else %}
            <td>False</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </body>
</html>
