<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>Lineage Table</title>
        <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>
        <link rel="stylesheet" href="/static/tablesorter/themes/blue/style.css" type="text/css" media="print, projection, screen" />
        <script type="text/javascript">
            var asInitVals = new Array();
            $(document).ready($(function() {
                oTable = $("#lineages").tablesorter({widgets: ['zebra']});

            }));
        </script>
    </head>
    <body>
    <table id="lineages" class="tablesorter">
        <thead>
	    <tr>
                <th>Lineage</th>
		<th># Flasks</th>
		<th># Isolates</th>
	    </tr>
	</thead>
    <tbody>
        {{ table_body }}
    </tbody>
    </body>
</html>
