{% extends 'base_table_template.html' %}
{% block sorted_column %}2{% endblock %}
{% block show_hide_columns %}
<div class="ui">
    Show / Hide Columns:
    <a onclick="fnShowHide(2)">Position</a>  -
    <a onclick="fnShowHide(3)">Mutation Type</a> -
    <a onclick="fnShowHide(4)">Sequence Change</a> -
    <a onclick="fnShowHide(5)">Gene</a> -
    <a onclick="fnShowHide(6)">Function</a> -
    <a onclick="fnShowHide(7)">Product</a> -
    <a onclick="fnShowHide(8)">GO Process</a> -
    <a onclick="fnShowHide(9)">GO Component</a> -
    <a onclick="fnShowHide(10)">Protein Change</a>
</div>
{% endblock %}