<script type="text/javascript">
     var parent = document.getElementById('viewer');
    var viewer = pv.Viewer(parent, { width : 'auto', height : 'auto', antialias : true, fog: false, background: 'white', selectionColor: 'red', animateTime: 500});

    function setColorForAtom(go, atom, color) {
        var view = go.structure().createEmptyView();
        view.addAtom(atom);
        go.colorBy(pv.color.uniform(color), view);
    }

    var prevPicked = null;

    parent.addEventListener('mousemove', function(event) {
        var rect = viewer.boundingClientRect();
        var picked = viewer.pick({ x : event.clientX - rect.left, y : event.clientY - rect.top });
        if (prevPicked !== null && picked !== null &&
            picked.target() === prevPicked.atom) {
        return;
        }
        if (prevPicked !== null) {
            setColorForAtom(prevPicked.node, prevPicked.atom, prevPicked.color);
        }
        if (picked !== null) {
            var atom = picked.target();
            document.getElementById('picked-atom-name').innerHTML = atom.qualifiedName();
            var color = [0,0,0,0];
            picked.node().getColorForAtom(atom, color);
            prevPicked = { atom : atom, color : color, node : picked.node() };

            setColorForAtom(picked.node(), atom, 'red');
        } else {
            document.getElementById('picked-atom-name').innerHTML = '&nbsp;';
            prevPicked = null;
        }
        viewer.requestRedraw();
    });
    var game_object = null;
    pv.io.fetchPdb('{{ pdb_file_path }}', function(structure) {
        viewer.on('viewerReady', function() {
            game_object = viewer.cartoon('molecule', structure);
            viewer.autoZoom();
            set_starting_colors();
        });
    });
    document.addEventListener('keypress', function(ev) {
        if (ev.keyCode === 13) {
            var allSelections = [];
            clear_selected_atoms();
            viewer.forEach(function(go) {
                if (go.selection !== undefined) {
                    allSelections.push(go.selection());
                }
            });
            var selected_atom_numbers = [];
            allSelections[0]._j[0]._q.forEach(function (item) {
                selected_atom_numbers.push(get_residue_mapping(item._v._dV))
            });
            var structure = viewer._m[0]._M[0]._i;
            var mutation = structure.select({rnums : selected_atom_numbers});
            if(mutation._j.length > 0) {
                viewer._m = [viewer._m[0]];
                viewer.ballsAndSticks('mutation', mutation);
            }
            viewer.fitTo(allSelections);
        }
    });

    viewer.on('click', function(picked, ev) {
        if (picked === null || picked.target() === null) { return; }
        if (picked.node().structure === undefined) { return; }
        var extendSelection = ev.shiftKey;
        var sel;
        if (extendSelection) {
            sel = picked.node().selection();
        } else {
            sel = picked.node().structure().createEmptyView();
        }
        if (!sel.removeAtom(picked.target(), true)) { sel.addAtom(picked.target()); }
        picked.node().setSelection(sel);
        viewer.requestRedraw();
    });

    function getAtomFromList(value) {
        var atom_list = viewer._m[0]._3[0]._cW._m;
        for (var key in atom_list) {
            if (atom_list[key].atom._v._dV == value) return atom_list[key].atom;
        }
        return null;
    }

    var residue_mappings = {{ residue_mappings }};
    function get_residue_mapping(atom_number) {
        var mapped_atom_number = residue_mappings[atom_number];
        if (mapped_atom_number != null) {
            return mapped_atom_number
        }
        return atom_number
    }
     var starting_colors = {};
     function set_starting_colors() {
         for (var rm_key in residue_mappings) {
            starting_colors[residue_mappings[rm_key]] = viewer._m[0]._M[0].getColorForAtom(getAtomFromList(residue_mappings[rm_key]), [0,0,0,0])
         }
     }

     function _calculate_distace(first_atom_number, second_atom_number, first_mutation_id, second_mutation_id) {
         clear_selected_atoms()
         zoomTo(first_atom_number, first_mutation_id);
         zoomTo(second_atom_number, second_mutation_id);
         var first_atom = getAtomFromList(get_residue_mapping(first_atom_number));
         var second_atom = getAtomFromList(get_residue_mapping(second_atom_number));
         viewer.rm('dist.*');
         var g = viewer.customMesh('dist.line');
         var midPoint = pv.vec3.clone(first_atom.pos());
         pv.vec3.add(midPoint, midPoint, second_atom.pos());
         pv.vec3.scale(midPoint, midPoint, 0.5);
         g.addTube(first_atom.pos(), second_atom.pos(), 0.1, { cap : true, color : 'white' });
         var d = pv.vec3.distance(first_atom.pos(), second_atom.pos());
         var l = viewer.label('dist.label', d.toFixed(2), midPoint);
         zoom_to_selected();
     }

    function zoom_to_selected() {
        var structure = viewer._m[0]._M[0]._i;
        var selected_atom_numbers = [];
        for(var j=0; j < selected_atoms.length; j++) {
            selected_atom_numbers.push(selected_atoms[j][0])
        }
        var atoms = structure.select({rnums : selected_atom_numbers});
        viewer.fitTo(atoms);
    }

    var selected_atoms = [];
     function clear_selected_atoms() {
         for (var i = 0; i < selected_atoms.length; i++) {
             var mutation_id = selected_atoms[i][1];
             var atom_number = selected_atoms[i][0];
             var anchor = document.getElementById(mutation_id);
             var prev = getAtomFromList(atom_number);
             anchor.style.color = '#337ab7';  //default chrome link color
             setColorForAtom(viewer._m[0], prev, starting_colors[atom_number]);
         }
         selected_atoms = [];
     }

    function zoomTo(atom_number, mutation_id) {
        atom_number = get_residue_mapping(atom_number);
        var selected_atom = getAtomFromList(atom_number);
        if (selected_atom == null) return;
        var index = null;
        for(var i=0; i < selected_atoms.length; i++) {
            if(selected_atoms[i][1] == mutation_id) {
                index = i;
                break;
            }
        }

        var anchor = document.getElementById(mutation_id);
        var prev = getAtomFromList(atom_number);

        if(index != null) {
            anchor.style.color = '#337ab7';  //default chrome link color
            selected_atoms.splice(index, 1);
            var selected_atom_nums = [];
            for(var j=0; j < selected_atoms.length; j++) {
                selected_atom_nums.push(selected_atoms[j][0])
            }
            if (selected_atom_nums.includes(atom_number)) {

            } else  {
                setColorForAtom(viewer._m[0], prev, starting_colors[atom_number]);
            }
        } else {
            anchor.style.color = 'green';
            selected_atoms.push([atom_number, mutation_id]);
            setColorForAtom(viewer._m[0], prev, 'red');
        }

        var structure = viewer._m[0]._M[0]._i;
        var selected_atom_numbers = [];
        for(var j=0; j < selected_atoms.length; j++) {
            selected_atom_numbers.push(selected_atoms[j][0])
        }
        var mutation = structure.select({rnums : selected_atom_numbers});
        if(mutation._j.length > 0) {
            viewer._m = [viewer._m[0]];
            viewer.ballsAndSticks('mutation', mutation);
        }
        viewer.requestRedraw();
    }
</script>