<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script type="text/javascript" src="/static/DataTables/media/js/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <style type="text/css" title="currentStyle">
        @import "/static/DataTables/extras/TableTools/media/css/TableTools.css";
        .FixedHeader_Cloned th {
        background-color: white;
        opacity: 0.5;}
        .intergenic {
        font-style: italic;
        }
        .mutation_in_codon {
        color: red;
        text-decoration: underline;
        }
        .reference_error {
        text-decoration: line-through;
        }
    </style>

    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/FixedHeader/js/FixedHeader.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/ColReorder/media/js/ColReorder.js"></script>
    <script type="text/javascript" charset="utf8"
            src="/static/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                /* set true and false cell colors */
                $(".true").css("background-color", "rgba(0, 255, 0, 0.1)");
                $(".false").css("background-color", "rgba(255, 0, 0, 0.1)");
                var oTable = $("#data").dataTable({
                    "bPaginate": false,
                    "bInfo": false,
                    //"sDom": 'RC<"clear">lfrtip',
                    /*"oTableTools": {
                        "sSwfPath": "/static/DataTables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [ "copy", "print" ]
                    }*/
                });
                //new FixedHeader(oTable);
            });

    </script>
    <script>
	    $(document).ready(function () {
	        var filter_offset = $("#data_filter").offset();
	        $(window).resize(function () {
	            filter_offset = $("#data_filter").offset();
	        });
	        var ui_offset = [];
	        $(".ui").each(function () {
	            ui_offset.push($(this).offset().left);
	        });
	        $(window).scroll(function () {
	            var scrollLeft = $(window).scrollLeft();
	            $("#data_filter").offset({left:filter_offset.left+scrollLeft});
	            i=0;
	            $(".ui").each(function () {
	                $(this).offset({left:ui_offset[i++]+scrollLeft});
	            });
	        });
	    });

    </script>
    <script>
	    $(document).ready(function () {
	        $("tr td:first-child").each(function () {
	            $(this).hover(
	                function () {
	                    $(this).children(".shut").css("display","block");
	                },
	                function () {
	                    $(this).children(".shut").css("display","none");
	                }
	            );
	        });
	    });

    </script>
    <script>
	    var deleteRow = function () {
	        var td = $(this).parent();
	        var tr = td.parent();
	        tr.remove();
	    }

    </script>
    <script>
	    var filterFlask = function (filter_type) {
	        var url = location.href.split("&remove=")[0].split("&show=")[0];

	        checked_flasks = [];
	        $("tr td").children(".cb").each(function () {
	            if (this.checked) {
	                checked_flasks.push(this.name);
	            };
	        });

		var removed_flask_ids,kept_flask_ids;
	        location.href.split("&").forEach(function (s) {
	            if (s.indexOf("remove") >= 0) {
	                removed_flask_ids = s.split("=")[1];
	            }
	            else if (s.indexOf("show") >= 0) {
	                kept_flask_ids = s.split("=")[1];
	            }
	        });

	        if (filter_type == "remove") {
	            query_string = typeof kept_flask_ids != "undefined" ? "&show=" + kept_flask_ids:"";
	            query_string += typeof removed_flask_ids != "undefined" ? "&remove=" + removed_flask_ids.replace("}",""):"&remove={";
	        }
	        else if (filter_type == "show") {
	            query_string = "&show={";
	        };
	        checked_flasks.forEach(function (id) {
	            query_string += id + ",";
	        });
	        query_string += "}";
	        window.location.replace(url + query_string);
	    }

    </script>
</head>

<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>

<body>

<div class="page-header">
  <h2>ALE Analytics / Mutation Search</h2>
</div>

{% if error %}
    <p style="color: red;">Please submit a search term.</p>
{% endif %}
<p>
<form action="/ale_analytics/search/" method="get">
    <input type="text" name="q" placeholder="mutation gene annotation">
    <input type="submit" value="Search">
</form>
</p>
{% if table_body %}
<form action="" method="get">
    <table id="data">
        <input type="button" value="Remove checked flasks" class="ui" onclick="filterFlask('remove')"/>
        <input type="button" value="Show checked flasks" class="ui" onclick="filterFlask('show')"/>
        <thead>
        {{table_header}}
        </thead>
        <tbody>
        {{table_body}}
        </tbody>
    </table>
</form>
{% endif %}
</body>
</html>
