<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Lineage Table</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="/static/jquery1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/static/tablesorter/themes/blue/style.css" type="text/css"
          media="print, projection, screen"/>
    <script type="text/javascript">
        var asInitVals = new Array();
        $(document).ready($(function () {
            oTable = $("#lineages").tablesorter({widgets: ['zebra']});

        }));
    </script>
</head>

<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>

<body>

<div class="page-header">
    <div style="float:right"><img src="/static/header.png" style="width:269px;height:53px"></div>
    <h1><a href="http://aquaticus.ucsd.edu/ale_analytics/" style="color:black; text-decoration:none" >ALE Analytics </a> / <b>{{ ale_experiment_name }}</b> Select Lineage</h1>
</div>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="https://aquaticus.ucsd.edu/ale_analytics">ALE Experiments</a></li>
    <li role="presentation"><a href="dashboard">Dashboard</a></li>
    <li role="presentation"><a href="search">Search</a></li>
</ul>
<br><br>

<table id="lineages" class="tablesorter">
    <thead>
    <tr>
        <th>Lineage</th>
        <th># Flasks</th>
        <th># Isolates</th>
    </tr>
    </thead>
    <tbody>
    {{ table_body }}
    </tbody>
</body>
</html>
