<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <title>Mutation Summary</title>
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/tablesorter/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/static/tablesorter/themes/blue/style-kz.css" type="text/css" media="print, projection, screen" />
    <style type="text/css" title="currentStyle">
        @import "/static/DataTables/extras/TableTools/media/css/TableTools.css";
	    .reference_error {
                text-decoration: line-through;
	    }
    </style>
    <script type="text/javascript">
        var asInitVals = new Array();
        $(document).ready($(function() {
            oTable = $("#runs").tablesorter({widgets: ['zebra']});
        }));
    </script>
  </head>
  <body>
    <table class="tablesorter">
      <thead>
	<tr>
	  <th>Present in all flasks</th>
	  <th>Stay for multiple flasks</th>
	  <th>Appear->Replaced by a different mutation in the same gene</th>
	  <th>Appear->Disappear->Reappear</th>
	  <th>Appear->Disappear</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>{{ present_in_all }}</td>
	  <td>{{ present_in_multiple }}</td>
	  <td>{{ replaced }}</td>
	  <td>{{ reappeared }}</td>
	  <td>{{ present_in_one }}</td>
	</tr>
      </tbody>
    </table>
  </body>
</html>
