<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_TAG }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ GOOGLE_ANALYTICS_TAG }}');
    </script>

    <meta charset="utf-8">
    {% block title %}{% endblock %}

    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- metisMenu CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.css" rel="stylesheet">

    <!-- SBAdmin 2 Theme CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static "fav.png" %}">

    <!-- Common CSS -->
    <link href="{% static "dist/css/common.css" %}" rel="stylesheet">

    <!-- Jquery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>

    <!-- Jquery DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        var sidebar_hidden = false;
        function toggle_sidebar() {
            var x = document.getElementsByClassName('row');
            if (sidebar_hidden) {
                sidebar_hidden = false;
                $('nav').css('left', '0');
                document.getElementById('sidebar_arrows').innerText = '«';
                for (var i = 0; i < x.length; i++) {
                    $(x[i]).width($(x[i]).width() - 240)
                }
            } else {
                sidebar_hidden = true;
                $('nav').css('left', '-240px');
                document.getElementById('sidebar_arrows').innerText = '»';
                for (var j = 0; j < x.length; j++) {
                    $(x[j]).width($(x[j]).width() + 240)
                }
            }
        }
    </script>

    <!-- Select 2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    {% block scripts_and_style %}{% endblock %}
</head>
<body style="background-color: white">
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ALEdb 1.0.2</a>
            <br>
            <h6 class="git-hash" >{{ git_hash }}</h6>
        </div>
        <div class="navbar-default sidebar" role="navigation" style="height: 100%">
            <div class="sidebar-nav navbar-collapse pull-left" style="width: 240px">
                <ul class="nav in" id="side-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">Logout {{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    {% endif %}
                    <li {% block dash %}{% endblock %}><a href="/">Dashboard</a></li>
                    <li><a href="/about">About</a></li>
                    <li {% block search %}{% endblock %}><a href="/search">Search</a></li>
                    <li><a href="/bibliome">Bibliome</a></li>
                    {% if perms.filter.add_global_filter %}
                    <li {% block filter %}{% endblock %}><a href="/filter/global_filter">Global Filter</a></li>
                    {% endif %}
                    <li><a href="/export">Export</a></li>
{#                    <li><a href="/combine">Combine</a></li>#}
                    <li><a href="/aledata">Files</a></li>
                    {% if ale_experiment_id %}
                        <li><a href="/stats?ale_experiment_id={{ ale_experiment_id }}"><b>{{ ale_experiment_name }}</b></a></li>
                        <li><a href="/metadata?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Metadata</a></li>
                        <li><a href="/mutations?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Mutations</a></li>
                        <li><a href="/converge?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Converged Mutations</a></li>
                        <li><a href="/fixation?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Fixed Mutations</a></li>
                        {% if perms.filter.add_global_filter %}
                            <li><a href="/filter?ale_experiment_id={{ ale_experiment_id }}">&nbsp;&nbsp;&nbsp;Filter</a></li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <select onchange="window.location.href=this.value" style="width: 100%;" id="quick_select">
                            <option></option>
                            {% for exp in experiments %}
                                <option value="/stats?ale_experiment_id={{ exp.ale_id }}"> {{ exp.name }}</option>
                            {% endfor %}
                        </select>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#quick_select").select2({
                                    placeholder: '<span style="color:#337ab7">Select an Experiment</span>',
                                    escapeMarkup: function (m) {
                                        return m;
                                    }
                                });
                            });
                        </script>
                    </li>
                </ul>
            </div>
            <div id="sidebarbutton" title="Collapse sidebar" onclick="toggle_sidebar()"
                 style="border-radius: 0 5px 5px 0; color: rgb(68, 68, 68); font-size: 1.2em; cursor: pointer; height: 100%; padding-top: 1px; padding-left: 1px; margin-left: 240px; background-color: rgb(204, 204, 204);">
                <span id="sidebar_arrows" style="display: block; margin-top: 470px">«</span>
            </div>
        </div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>{% block header %}{% endblock %}
                            <img src="{% static "aledb_header.png" %}"
                                 style="max-width: 10%; max-height: 10%; float: right">
                        </h1>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </nav>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>
<script src="{% static "dist/js/sb-admin-2.min.js" %}"></script>

<!-- DataTables Bootstrap JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
        type="text/javascript"></script>

<!-- Bootstrap Toggle -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</body>
</html>
