{% extends 'base.html' %}
{% load static %}

{% block title %}ALEGoggles{% endblock %}
{% block scripts_and_style %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/date-1.5.1/r-2.5.0/sc-2.2.0/sp-2.2.0/sl-1.7.0/datatables.min.css"
          rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/date-1.5.1/r-2.5.0/sc-2.2.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/webapp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/goggles.css' %}">
    <style>
        label {
            padding-left: 1em;
        }

        .dataTables_wrapper .dataTables_filter {
            float: none;
            text-align: center;
        }

        .machines {
            background-color: #5BA199;
            font-size: 20px;
            padding: 8px;
        }

        .dataTables_scrollHead {
            display: none;
        }

        .goggles-option {
        }
    </style>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
{% endblock %}

{% block header %}<b><a href="#">ALEGoggles</a></b> - See our ALEBots <b id="goggles_title">live!</b>{% endblock %}


{% block content %}

    <script>
        toggle_sidebar();
    </script>
    <script>
        function handleSelectChangeX(event) {
            format = document.getElementById("x_scale").value;
            if (format === "dates") {
                mainChart.xAxis.type = "datetime"
                mainChart.xAxis.step = 24
            } else if (format === "days") {
                mainChart.xAxis.type = "datetime"
                mainChart.xAxis.step = 9999999999999
            }
            mainChart.redraw()

        }

    </script>
    <div class="options_bar" style="position: fixed; bottom:.5em; z-index: 100;">
        <div class="goggles-option">
            <label class="form-check-label" for="inlineCheckbox1">X-Axis Format:</label>
            <select id="x_scale" onchange="handleSelectChangeX(event)">
                <option selected value="days">Days</option>
                <option value="dates">Dates</option>
            </select>
            <label class="form-check-label" for="inlineCheckbox1">Y-Axis Scaling:</label>
            <select id="y_scale" onchange="handleSelectChangeY(event)">
                <option value="logarithmic">Log</option>
                <option value="linear">Linear</option>
            </select>
            <label class="form-check-label" for="inlineCheckbox1">Growth Rate Type:</label>
            <select id="experiment_GR_type" onchange="handleSelectGrowthRateType(event)">
                <option selected value=""></option>
            </select>
            <label for="live_data">Live Updates:</label>
            <input type="checkbox" id="live_data">

        </div>
    </div>



    <div class="container">
    <div id="machine-bar" style="width:25em; float: left; padding-right: 3em">
        {% for key, value in initial.items %}
            <script>
                console.log("{{ value.name }}");
                {% for media in value.medias %}
                    console.log("{{ media.description }}");
                {%  endfor %}
            </script>
            <button type="button" class="collapsible machines"
                    style="text-align: center"> {{ value.name }} </button>
            <div class="content" style="overflow-y:auto; max-height: 20em;">
                {% for project_key, project_value in value.projects.items reversed %}
                    <button type="button" class="collapsible"
                            style="text-align: center"> {{ project_value.name }} </button>
                    <div class="content">
                        <table id="ale-machine_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                               class="display">
                            {% for experiment in project_value.experiments %}
                                <tr id="{{ project_key }}_row_id_{{ value.id }}_{{ experiment.0 }}">
                                    {% for entry in experiment %}
                                        <td>{{ entry }}</td>
                                    {% endfor %}
                                </tr>

                            {% endfor %}
                        </table>
                        <script>
                            let table_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }} = new DataTable('#ale-machine_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}', {
                                select: 'multi+shift',
                                autoHeight: true,
                                autoWidth: true,
                                paging: false,
                                searching: false,
                                ordering: false,
                                info: false,
                                scrollY: 500,
                                dataType: JSON,


                                //data: ALE_{{ forloop.parentloop.counter }}_{{ forloop.counter }},
                                columns: [
                                    {},
                                    {},
                                    {
                                        'render': function (data) {
                                            return data[0];
                                        }
                                    },
                                    {},
                                    {},
                                    {
                                        'render': function (data) {
                                            var current_color = data.split(',')
                                            return '<input type="color" id="experiment_{{ project_key }}_{{ value.id }}_' + current_color[2] + '" value=' + current_color[1] + '>';
                                        }
                                    },
                                    { visible: false }
                                    //{title: 'EXP_ID'},
                                    //{title: 'Mod'},
                                    //{title: 'Ctrlr'},
                                    //{title: 'Pos'},
                                ],
                                //data: '<input type="color">'
                            });

                            function changeColor(e) {
                                console.log(e.target.value);
                                console.log(mainChart.get(e.target.id));
                                mainChart.get(e.target.id).update({color: e.target.value});
                                growthChart.get(e.target.id).update({color: e.target.value});
                                temperatureChart.get(e.target.id).update({color: e.target.value});
                            }

                            table_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}.on('click', 'tbody tr', function () {
                                //let ALE_id = ALE_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}[table_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}.row(this).index()][0];
                                let ALE_id = table_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}.row(this).data();
                                let data_id = "{{ project_key }}_{{ value.id }}_" + ALE_id[0]
                                let row_id = {{ project_key }} + '_row_id_{{ value.id }}_' + ALE_id[0]
                                table_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}.row(this).id = row_id;

                                document.getElementById(row_id).addEventListener("input", changeColor)
                                let sample_name = "{{ value.name }}: {{ project_value.name }}= {{ project_key }}" + ALE_id[0]
                                let message = [ALE_id[6], row_id, "{{ value.id }}", data_id]

                                if (table_{{ value.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}.row(this).selected()) {
                                    let current_id = data_id
                                    console.log("removing: " + current_id)
                                    mainChart.get(current_id).remove();
                                    growthChart.get(current_id).remove();
                                    temperatureChart.get(current_id).remove();
                                    selected_ales.pop(message);
                                    selected_ale_ids.pop(data_id)
                                } else {

                                    //send ale_ids of the requests
                                    sendMessage(message);
                                    console.log(message);
                                }

                            });
                        </script>
                    </div>

                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <script>
        const gogglesSocket = new WebSocket('wss://' + window.location.host + '/ws/goggles/');

        gogglesSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const message = data['message'];

            // Handle incoming message

            if (selected_ale_ids.includes(message[3])) {
                mainChart.get(message[3]).setData(message[1][0]);
                growthChart.get(message[3]).setData(message[1][1]);
                temperatureChart.get(message[3]).setData(message[1][2]);
            } else {
                mainChart.addSeries({
                    id: message[3],
                    name: message[3],
                    data: message[1][0],
                    color: document.getElementById('experiment_' + message[3]).value,
                });
                growthChart.addSeries({
                    id: message[3],
                    name: message[3],
                    data: message[1][1],
                    color: document.getElementById('experiment_' + message[3]).value,
                });
                temperatureChart.addSeries({
                    id: message[3],
                    name: message[3],
                    data: message[1][2],
                    color: document.getElementById('experiment_' + message[3]).value,
                });
                selected_ales.push(message[4])
                selected_ale_ids.push(message[3])
            }
        };

        gogglesSocket.onclose = function (e) {
            console.error('Goggles socket closed unexpectedly');
            document.getElementById("goggles_title").textContent = "Socket Disconnected :("

        };

        // Send message to server
        function sendMessage(message) {
            gogglesSocket.send(JSON.stringify({
                'db_id': message[0],
                'name': message[1],
                'machine': message[2],
                'data_id': message[3]
            }));
        }
    </script>
    <div id="mainChart" style="overflow: visible; width: 65%; !important;"></div>
    <div id="growthChart" style="overflow: visible; width: 65%; !important;"></div>
    <div id="temperatureChart" style="overflow: visible; width: 65% !important;"></div>
    <script>
        console.time('line');
        const mainChart = Highcharts.stockChart('mainChart', {
            chart: {
                zoomType: 'x',
                panning: true,
                panKey: 'shift'
            },
            xAxis: {
                type: 'datetime',
            },

            plotOptions: {
                area: {
                    //allowPointSelect: true,
                    fillOpacity: 0.25
                },
                series: {
                    lineWidth: 1.5,
                    marker: {
                        radius: 3,
                        symbol: "circle"
                    },
                    point: {
                        events: {
                            click: function () {
                                if (this.selected) {
                                    this.select(false, true)
                                } else {
                                    this.select(true, true)
                                }

                            }
                        }
                    },
                },
            }, /**
             title: {
             text: 'Dummy opticALE(s) with ' + n + ' measurements'
             },
             uncomment when we are struggling to support all the points
             boost: {
             useGPUTranslations: true
             },*/

            legend: {
                enabled: true
            },

            tooltip: {
                valueDecimals: 2,
                shared: false,
                split: false,
                followPointer: false,
                stickOnContact: true,
                useHTML: true,
                style: {
                    pointerEvents: 'auto'
                }
            },

        });
        console.timeEnd('line');

    </script>
    {{ ales|json_script:"ale_data" }}
    <script>
        const selected_ales = []
        const selected_ale_ids = []
    </script>

    <script>

        var checkBox = document.getElementById("live_data");
        var text = document.getElementById("text");

        function live_data_loop() {
            console.log("rerunning", selected_ales)
            if (selected_ales.length > 0) {
                for (let i = 0; i < selected_ales.length; i++) {
                    sendMessage(selected_ales[i]);
                }
            }
        }

        setInterval(function () {
            if (checkBox.checked == true) {
                live_data_loop();
            }
        }, 30000);

    </script>

    <script>
        console.time('line');
        const temperatureChart = Highcharts.stockChart('temperatureChart', {
            chart: {
                zoomType: 'x',
                panning: true,
                panKey: 'shift'
            },
            xAxis: {
                type: 'datetime',
            },

            plotOptions: {
                area: {
                    //allowPointSelect: true,
                    fillOpacity: 0.25
                },
                series: {
                    lineWidth: 2,
                    marker: {
                        radius: 3,
                        symbol: "circle"
                    },
                    point: {
                        events: {
                            click: function () {
                                if (this.selected) {
                                    this.select(false, true)
                                } else {
                                    this.select(true, true)
                                }

                            }
                        }
                    },
                },
            }, /**
             title: {
             text: 'Dummy opticALE(s) with ' + n + ' measurements'
             },
             uncomment when we are struggling to support all the points
             boost: {
             useGPUTranslations: true
             },*/

            legend: {
                enabled: true
            },

            tooltip: {
                valueDecimals: 2,
                shared: false,
                split: false,
                followPointer: false,
                stickOnContact: true,
                useHTML: true,
                style: {
                    pointerEvents: 'auto'
                }
            },

        });
        console.timeEnd('line');

    </script>



    <script>

        console.time('line');
        const growthChart = Highcharts.stockChart('growthChart', {
            chart: {
                zoomType: 'x',
                panning: true,
                panKey: 'shift'
            },

            plotOptions: {
                area: {
                    //allowPointSelect: true,
                    fillOpacity: 0.25
                },
                series: {
                    lineWidth: 1.5,
                    marker: {
                        radius: 3,
                        symbol: "circle"
                    },
                    point: {
                        events: {
                            click: function () {
                                if (this.selected) {
                                    this.select(false, true)
                                } else {
                                    this.select(true, true)
                                }

                            }
                        }
                    },
                },
            }, /**
             title: {
             text: 'Dummy opticALE(s) with ' + n + ' measurements'
             },
             uncomment when we are struggling to support all the points
             boost: {
             useGPUTranslations: true
             },*/

            legend: {
                enabled: true
            },

            tooltip: {
                valueDecimals: 2,
                shared: false,
                split: false,
                followPointer: false,
                stickOnContact: true,
                useHTML: true,
            },

        });
        console.timeEnd('line');

    </script>

    <script>
        let coll = document.getElementsByClassName("collapsible");
        let i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
            if(coll[i].classList.contains("machines")){
                coll[i].click();
            }
        }





    </script>


{% endblock %}
