<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ALE Analytics Mutation Filtering Options</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>


<style>

    body {
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

</style>

<body>

<div class="page-header">
    <div style="float:right"><img src="/static/header.png" style="width:269px;height:53px"></div>
    <h1><a href="/ale_analytics" style="color:black; text-decoration:none">ALE
        Analytics </a><b> {{ ale_experiment_name }} </b> / Mutation Filtering Options </h1>
</div>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/ale_analytics">ALE Experiments</a></li>
    <li role="presentation"><a href="/ale_analytics/dashboard">Dashboard</a></li>
    <li role="presentation"><a href="/ale_analytics/search">Search</a></li>
</ul>
<br>

<form action="" method="POST">

    <h4>Frequency Filtering Thresholds</h4>
    Minimum Cutoff: {{ form.min_cutoff }}
    <br>
    Maximum Cutoff: {{ form.max_cutoff }}

    <br>
    <br>
    <h4>Ignored Genes</h4>
    <p>Enter genes(s) separated by ',' ex: tpoB,folD</p>
    <p>{{form.ignored_genes}}</p>
    <h4>Ignored Mutations</h4>
    <p>Example: [{"position":4184968,"type":"SNP","sequence":"A→C"},{"position":4188869,"type":"SNP","sequence":"A→C"}]</p>
    <p>{{form.ignored_mutations}}</p>
    <input type="submit" value="Save" name="save">
</form>

</body>
</html>
