{% extends 'dashboard_base.html' %}
{% block title %}<title>ALE Analytics Export</title>{% endblock %}
{% block scripts_and_style %}
    <script type="text/javascript">{% include 'experiment_selector.js' %}</script>
{% endblock %}
{% block header %}Export{% endblock %}
{% block content %}
    {% if is_download_request %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert"><b>Success!</b> Your table has been generated. Click the button below to download as a CSV</div>
                <div id="export_button"></div>
            </div>
        </div>
        <div style="display: none">
            <table id="data">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="selector_button">Select Experiment</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" id="experiment_selector">
                        <li><a href="#/">All</a></li>
                        {% for exp in experiments %}
                            <li><a href="#/">{{ exp.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" onclick="add_experiment_to_download_list()">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Experiment
                    </button>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group" id="selected_experiments"></ul>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-6">
                <form action="/export" method="get">
                    <div class="input-group">
                        <input type="submit" class="btn btn-default" id="download" name="download" value="Download Experiments as CSV" style="display: none">
                        <input type="hidden" id="download_experiments" name="download_experiments" value="">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
