{% extends 'dashboard_base.html' %}
{% block title %}<title>ALE Analytics Export</title>{% endblock %}
{% block scripts_and_style %}
    <script type="text/javascript">{% include 'experiment_selector.js' %}</script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
{% endblock %}
{% block header %}Export{% endblock %}
{% block content %}
    <div>
        <i>Note: scripts for generating Pandas Dataframe from exported mutation data can be found at <a
                href="https://github.com/SBRG/aledb_mut_scripts">https://github.com/SBRG/aledb_mut_scripts/</a></i>
    </div>
    <br>
    <div class="row" id="selector_elements">
        <div class="col-lg-4">
            <div class="btn-group">
                <button type="button" class="btn btn-default" id="selector_button">Select Experiment</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" id="experiment_selector">
                    <li><a href="#/">All</a></li>
                    {% for exp in experiments %}
                        <li><a href="#/">{{ exp.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <br><br>
            <div class="btn-group">
                <button type="button" class="btn btn-success" onclick="add_experiment_to_download_list()">
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Experiment
                </button>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-4">
            <ul class="list-group" id="selected_experiments"></ul>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-6">
            <form action="/export" method="get">
                <div class="input-group">
                    <div class="btn-group">
                        <input type="submit" class="btn btn-default" id="download" name="download"
                               value="Download CSV" onclick="print_warning_message()"
                               style="display: none">
                        <select class="selectpicker" name="mut_type_selected" id="mut_type_selected"
                                style="display: none">
                            <option value={{ mut_types_str_list.0 }}>Mutations</option>
                            <option value={{ mut_types_str_list.1 }}>Enrichment Mutations</option>
                            <option value={{ mut_types_str_list.2 }}>Fixed Mutations</option>
                        </select>
                    </div>
                    <input type="hidden" id="download_experiments" name="download_experiments" value="">
                    <br>
                    <div class="row" id="warning_message" style="display: none">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert"><b>Warning!</b> Please do not leave or close
                                this tab until your download has completely finished
                            </div>
                            <div id="export_button"></div>
                        </div>
                    </div>
                    <div class="row" id="success_message" style="display: none">
                        <div class="col-lg-12">
                            <div class="alert alert-success" role="alert"><b>Success!</b> Your file has been downloaded
                            </div>
                            <div id="export_button"></div>
                        </div>
                        <div class="col-lg-12">
                            <a href="/export" class="btn btn-primary">Download Another Experiment</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('.selectpicker').selectpicker('hide');
    </script>
    {% if is_download %}
        {% load static %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.js"></script>
        <script type="text/javascript" src="{% static "csv.min.js" %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
        <script type="text/javascript">
            var data = {{ data }};
            {% include 'download_zip.js' %}
        </script>
    {% endif %}
{% endblock %}
