{% extends 'dashboard_base.html' %}
{% block title %}<title>ALE Analytics Export</title>{% endblock %}
{% block scripts_and_style %}
    <script type="text/javascript">{% include 'experiment_selector.js' %}</script>
{% endblock %}
{% block header %}Export{% endblock %}
{% block content %}
    {% if is_download_request %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success" role="alert"><b>Success!</b> Your table has been generated. Click the button below to download as a CSV</div>
                <div id="export_button"></div>
            </div>
        </div>
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>
        <div style="display: none">
            <table id="data">
                <thead>
                    {{ table_header }}
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/datatables.min.css"/>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/fh-3.1.2/datatables.min.js"></script>
        <script type="text/javascript">
            var number_of_columns = document.getElementById('data').rows[0].cells.length;
            var sorted_column = 2;
            var columns_to_export = [];

            for(var k = sorted_column; k < number_of_columns; k++) {
                columns_to_export.push(k)
            }

            $(document).ready(function () {
                var oTable = $("#data").DataTable({
                    paging: true,
                    pagingType: "full_numbers",
                    data: {{ table_body }},
                    autoWidth: false,
                    pageLength: 10,
                    language: ',',
                    columnDefs: [ {className: 'exportable', 'targets': columns_to_export } ],
                    order: [[ sorted_column, 'asc']],
                    dom: 'l<<"pull-left"B><"pull-right"f>r>t<<"pull-left"i><"pull-right"p>>',
                    buttons: [
                        'colvis', {
                            extend: 'csv',
                            text: 'Download Table as CSV',
                            exportOptions: {
                                columns: columns_to_export
                            }
                        }
                    ],
                    deferRender: true
                });

                var element = $(document.getElementsByClassName('buttons-csv'));
                element.appendTo(document.getElementById('export_button'));

            });
        </script>
    {% else %}
        <div class="row">
            <div class="col-lg-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="selector_button">Select Experiment</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" id="experiment_selector">
                        <li><a href="#/">All</a></li>
                        {% for exp in experiments %}
                            <li><a href="#/">{{ exp.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" onclick="add_experiment_to_download_list()">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Experiment
                    </button>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group" id="selected_experiments"></ul>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-6">
                <form action="/export" method="get">
                    <div class="input-group">
                        <input type="submit" class="btn btn-default" id="download" name="download" value="Submit Request">
                        <input type="hidden" id="download_experiments" name="download_experiments" value="">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
