{% extends 'base.html' %}
{% block title %}Mutations{% endblock %}
{% block scripts_and_style %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            type="text/javascript"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style type="text/css">

        .FixedHeader_Cloned th {
            background-color: white;
            opacity: 0.5;
        }

        .intergenic {
            font-style: italic;
        }

        .mutation_in_codon {
            color: red;
            text-decoration: underline;
        }

        .reference_error {
            text-decoration: line-through;
        }

        table.dataTable tr.odd {
            background-color: #E2E4FF;
        }

        table.dataTable tr.even {
            background-color: white;
        }

        .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
            background-color: #4078c0;
        }
    </style>

{% endblock %}
{% block header %}<b><a href="/ale/project/{{ ale_project_id }}">{{ ale_project_name }}</a>: {{ ale_experiment_name }}</b> - {{ template_header }}{% endblock %}
{% block content %}
    {% if ale_experiment_id %}
        <div class="row"> <!-- Columns -->
            <form action="" method="get">
            {% csrf_token %}
                <br>
                <b>Columns: </b>
                <input type="hidden" name="ale_experiment_id" value="{{ ale_experiment_id  }}"/>
                <input type="hidden" id="hidden_columns" name="hidden_columns" value="{{ hidden_columns }}"/>
                <select name="ale_no" class="selectpicker">
                    <option value="all">All ales</option>
                    {% for ale in ales %}
                        <option {% if ale == ale_no %}selected="selected" {% endif %}
                                value="{{ ale }}">{{ ale }}</option>
                    {% endfor %}
                </select>
                <select name="sample_type" class="selectpicker">
                    <option value="all">All sample types</option>
                    <option {% if sample_type == "clonal" %}selected="selected" {% endif %}
                            value="clonal">Clonal samples</option>
                    <option {% if sample_type == "population" %}selected="selected" {% endif %}
                            value="population">Population samples</option>
                </select>
                <select name="tag_select" class="selectpicker">
                    <option value="All Tags">All Tags</option>
                    {% for key, value in tag_dropdown.items %}
                        <option>Show Tag: {{ key }} </option>
                        <option>Hide Tag: {{ key }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-default btn-primary" value="Apply"/>
                <button type="button" class="btn btn-default" onclick="column_sort_from_right()">
                    <i class="fa fa-sort-amount-desc fa-fw" aria-hidden="true"></i>Column Sort from Right
                </button>
            </form>
        </div>
        <div><i>Note: You must select the Apply button when selecting specific ALEs or show/hide of columns according to
            tags.</i></div>
        <br>
        {% if user.id %}
        <div class="row"> <!-- Rows -->
            <b>Rows: </b>
            <div class="btn-group" role="group">
                <button id="row_tag_selector" type="button" class="btn btn-default"
                        style="width: 180px; text-align: left">All Tags
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="filter_tag('clear', true, 'All Tags')" style="cursor:pointer">All Tags</a></li>
                    {% for key, value in tag_dropdown.items %}
                        <li><a onclick="filter_tag('{{ key }}', true, 'Show Tag: {{ key }}')" style="cursor:pointer">Show
                            Tag: {{ key }} {{ value | safe }}</a></li>
                        <li><a onclick="filter_tag('{{ key }}', false, 'Hide Tag: {{ key }}')" style="cursor:pointer">Hide
                            Tag: {{ key }} {{ value | safe }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <b style="margin-left: 3%">Tags: </b>
            <input id="tag_toggle" type="checkbox" data-toggle="toggle" checked data-on="Show" data-off="Hide">
        </div>
        {% endif %}

        <!-- Mutation table -->
        <form action="" method="get">
            <input type="hidden" name="ale_experiment_id" value="{{ ale_experiment_id  }}"/>
            {% if ale_no %}
                <input type="hidden" name="ale_no" value="{{ ale_no }}"/>
            {% else %}
                <input type="hidden" name="ale_no" value="all"/>
            {% endif %}
            <table id="data" class="table" cellspacing="0px">
                <br>
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
            <script type="text/javascript">
                var refseq_column = {{ refseq_column }}
                var sorted_column = refseq_column + 1;
                var table_data = {{ table_body }};
                var table_titles = {{ table_header | safe }};
                var table_heads = [];
                var number_of_columns = 0;
                var tag_list = {{ tag_dropdown | safe}};
                for (var x in table_titles) {
                    table_heads.push({title: table_titles[x]});
                    number_of_columns += 1;
                }
                {% include 'table_template.js' %}
            </script>
        </form>
    {% endif %}
{% endblock %}
