{% extends 'base.html' %}
{% block title %}Password changed{% endblock %}
{% block header %}Password changed{% endblock %}
{% comment %} Its own page rather than a success flag on the form, because `base.html` renders
   no `{% if messages %}` block anywhere -- a `messages.success()` would be invisible. {% endcomment %}
{% block content %}
    <div class="container" style="margin-left: 0; padding-left: 0; max-width: 46em;">
        <p>Your password has been changed. You are still signed in on this device; anywhere
            else you are signed in will ask for the new one.</p>
        <div style="margin-top: 1.5em;">
            {% comment %} Neutrally worded: mutint-core is unbranded, and the deployment's own
               name lives in MUTINT_BRANDING. {% endcomment %}
            <a class="btn btn-default" href="/">Continue</a>
        </div>
    </div>
{% endblock %}
