{% extends 'base.html' %}
{% load static %}
{% block title %}Resequencing Runs{% endblock %}
{% block scripts_and_style %}
    <style type="text/css">
        table.dataTable tr.odd { background-color: lightgrey; }
        table.dataTable tr.even { background-color: white; }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/datatables-bundle-bs336/datatables.min.css" %}"/>

    <script type="text/javascript" src="{% static "vendor/datatables-bundle-bs336/datatables.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#runs').DataTable({
                paging: false,
                dom: 'l<<"pull-left"B><"pull-right"f>r>t<<"pull-left"i><"pull-right"p>>',
                buttons: [
                    // The caret says it opens a menu rather than doing something. Buttons
                    // inserts `text` as HTML, so the Bootstrap span renders as the same
                    // triangle every other dropdown in the app uses.
                    {extend: 'colvis', text: 'Column visibility <span class="caret"></span>'},
                    'csv'
                ],
                deferRender: true
            });
        })
    </script>
{% endblock %}
{% block header %}<b><a href="/ale/project/{{ ale_project_id }}">{{ ale_project_name }}</a>: {{ ale_experiment_name }}</b> - Sample Meta Data{% endblock %}
{% block content %}
<div class="row">
    <table id="runs" class="table">
        <thead>
            <tr>
                <th>ALE, Flask, Isolate, Technical Replicate</th>
                <th>Clonal or Population</th>
                <th>ALE Sample Details</th>
                <th>Base Media</th>
                <th>Carbon Source(g/L)</th>
                <th>Nitrogen Source(g/L)</th>
                <th>Phosphorus Source(g/L)</th>
                <th>Sulfur Source(g/L)</th>
                <th>Calcium Source(g/L)</th>
                <th>Supplement(g/L)</th>
                <th>Temperature (Celsius)</th>
                <th>Strain</th>
                <th>Additional Strain Details</th>
                <th>Library Prep</th>
                <th>Reference Genome</th>


            </tr>
        </thead>
        <tbody>
        {% comment %} Read by name. These were positional -- `reseq_info_tuple.13` -- and
           two of them had drifted onto the wrong column: this row rendered the isolate's
           library prep under a heading that said Taxonomy ID. See
           `aledb_metadata.views.get_reseq_info_list`. {% endcomment %}
        {% for row in reseq_info_list %}
            <tr class="experiment_stats">
                <td class="sample_name">
                    {{ row.sample.ale_flask_isolate_str }}
                </td>
                <td class="clonal_or_population">{{ row.clonal_or_population }}</td>
                <td class="tech_rep_description">{{ row.tech_rep_description }}</td>
                <td class="media_description">{{ row.media_description }}</td>
                <td class="carbon_source">{{ row.carbon_source }}</td>
                <td class="nitrogen_source">{{ row.nitrogen_source }}</td>
                <td class="phosphorus_source">{{ row.phosphorus_source }}</td>
                <td class="sulfur_source">{{ row.sulfur_source }}</td>
                <td class="calcium_source">{{ row.calcium_source }}</td>
                <td class="supplement">{{ row.supplement }}</td>
                <td class="temperature">{{ row.temperature }}</td>
                <td class="strain">{{ row.strain }}</td>
                <td class="ale_description">{{ row.ale_description }}</td>
                <td class="library_prep">{{ row.library_prep }}</td>
                <td class="reseq_reference">{{ row.reseq_reference }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
