{% extends 'base.html' %}
{% load static %}
{% block title %}Resequencing Runs{% endblock %}
{% block scripts_and_style %}
    <style type="text/css">
        table.dataTable tr.odd { background-color: lightgrey; }
        table.dataTable tr.even { background-color: white; }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/datatables-bundle-bs336/datatables.min.css" %}"/>

    <script type="text/javascript" src="{% static "vendor/datatables-bundle-bs336/datatables.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#runs').DataTable({
                paging: false,
                dom: 'l<<"pull-left"B><"pull-right"f>r>t<<"pull-left"i><"pull-right"p>>',
                buttons: [
                    // The caret says it opens a menu rather than doing something. Buttons
                    // inserts `text` as HTML, so the Bootstrap span renders as the same
                    // triangle every other dropdown in the app uses.
                    {extend: 'colvis', text: 'Column visibility <span class="caret"></span>'},
                    'csv'
                ],
                deferRender: true
            });
        })
    </script>
{% endblock %}
{% block header %}<b><a href="/ale/project/{{ ale_project_id }}">{{ ale_project_name }}</a>: {{ ale_experiment_name }}</b> - Sample Meta Data{% endblock %}
{% block content %}
<div class="row">
    <table id="runs" class="table">
        <thead>
            <tr>
                <th>ALE, Flask, Isolate, Technical Replicate</th>
                <th>Clonal or Population</th>
                <th>ALE Sample Details</th>
                <th>Base Media</th>
                <th>Carbon Source(g/L)</th>
                <th>Nitrogen Source(g/L)</th>
                <th>Phosphorus Source(g/L)</th>
                <th>Sulfur Source(g/L)</th>
                <th>Calcium Source(g/L)</th>
                <th>Supplement(g/L)</th>
                <th>Temperature (Celsius)</th>
                <th>Strain</th>
                <th>Additional Strain Details</th>
                <th>Taxonomy ID</th>
                <th>Reference Genome</th>


            </tr>
        </thead>
        <tbody>
        {% for reseq_info_tuple in reseq_info_list %}
            <tr class="experiment_stats">
                <td class="sample_name">
                    {{ reseq_info_tuple.0.ale_flask_isolate_str }}
                </td>
                <td class="clonal_or_population">{{ reseq_info_tuple.1 }}</td>
                <td class="tech_rep_description">{{ reseq_info_tuple.2 }}</td>
                <td class="media_description">{{ reseq_info_tuple.3 }}</td>
                <td class="carbon_source">{{ reseq_info_tuple.4 }}</td>
                <td class="nitrogen_source">{{ reseq_info_tuple.5 }}</td>
                <td class="phosphorous_source">{{ reseq_info_tuple.6 }}</td>
                <td class="sulfur_source">{{ reseq_info_tuple.7 }}</td>
                <td class="calcium_source">{{ reseq_info_tuple.8 }}</td>
                <td class="supplement">{{ reseq_info_tuple.9 }}</td>
                <td class="temperature">{{ reseq_info_tuple.10 }}</td>
                <td class="strain">{{ reseq_info_tuple.11 }}</td>
                <td class="knockouts">{{ reseq_info_tuple.12 }}</td>
                <td class="taxonomy_id">{{ reseq_info_tuple.13 }}</td>
                <td class="reseq_reference">{{ reseq_info_tuple.14 }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
