[DATABASE]
host = localhost
port = 3306
user = ale
database = ale_db_python3
password = bridgetreelabcarbon
engine = mysql

[OTHER]
sequencing_url = https://aquaticus.ucsd.edu/sequencing/
sequencing_path = sequencing/
username = ale
password = olalemutats
