{% extends 'base.html' %}
{% block title %}Bibliome{% endblock %}
{% block header %}Bibliome{% endblock %}
{% block content %}
    <!--Using Public Library of Science (PLoS) citation style along with the inclusion of a DOI link.-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Publications described by ALEdb projects</h4>
        </div>
        <table class="table">
	    <tr>
                <td>
                        <p>Central carbon knockout pgi</p>
			<p>Central carbon knockout sdh</p>
			<p>Central carbon knockout gnd</p>
                        <p>Central carbon knockout glucose evolution</p>
                </td>
                <td>
                    <a href="https://doi.org/10.3389/fmicb.2018.01793">McCloskey D, Xu S, Sandberg TE, Brunk E, Hefner Y, Szubin R, et al. Growth Adaptation of gnd and sdhCB Escherichia coli Deletion Strains Diverges From a Similar Initial Perturbation of the Transcriptome. Front Microbiol. 2018;9: 1793.</a>
                </td>
            </tr>
	    <tr>
		<td>
			<p>Central carbon knockout PTS</p>
			<p>Central carbon knockout glucose evolution</p>
		</td>
		<td>
		    <a href="https://doi.org/10.1016/j.ymben.2018.06.005">McCloskey D, Xu S, Sandberg TE, Brunk E, Hefner Y, Szubin R, et al. Adaptive laboratory evolution resolves energy depletion to maintain high aromatic metabolite phenotypes in Escherichia coli strains lacking the Phosphotransferase System. Metab Eng. 2018;48: 233–242.</a>
		</td>
	    </tr>
	    <tr>
		<td>
			<p>Central carbon knockout tpiA</p>
			<p>Central carbon knockout glucose evolution</p>
		</td>
		<td><a href="https://doi.org/10.1016/j.ymben.2018.05.012">McCloskey D, Xu S, Sandberg TE, Brunk E, Hefner Y, Szubin R, et al. Adaptation to the coupling of glycolysis to toxic methylglyoxal production in tpiA deletion strains of Escherichia coli requires synchronized and counterintuitive genetic changes. Metab Eng. 2018;48: 82–93.</a></td>
	    </tr>
	    <tr>
		<td>
		    <p>Auxotrophic strains hisD gltA</p>
		    <p>Auxotrophic strains hisD gltB</p>
		    <p>Auxotrophic strains hisD pyrC</p>
		</td>
		<td>
			<p><a href="https://doi.org/10.1101/327270">Lloyd CJ, King Z, Sandberg T, Hefner Y, Olson C, Phaneuf P, et al. Model-driven design and evolution of non-trivial synthetic syntrophic pairs [Internet]. bioRxiv. 2018. p. 327270. doi:10.1101/327270</a></p>
		</td>
            </tr>
	    <tr>
		<td>
		    <p>C321</p>
		    <p>C321.∆A</p>
		    <p>C321.∆A.earlyfix</p>
		    <p>ECNR2.1</p>
		</td>
		<td>
			<p><a href="http://doi.org/10.1073/pnas.1715530115">Wannier TM, Kunjapur AM, Rice DP, McDonald MJ, Desai MM, Church GM. Adaptive evolution of genomically recoded Escherichia coli. Proc Natl Acad Sci U S A. 2018;115: 3090–3095.</a></p>
		</td>
	    </tr>
            <tr>
                <td>PGI</td>
                <td>
                    <p><a href="http://doi.org/10.1371/journal.pgen.1001186">Charusanti P, Conrad TM, Knight EM,
                        Venkataraman K, Fong NL, Xie B, et al. Genetic Basis of Growth
                        Adaptation of Escherichia coli after Deletion of pgi, a Major Metabolic Gene. PLoS Genet. Public
                        Library of Science; 2010;6: e1001186</a></p>
                    <p><a href="http://doi.org/10.1073/pnas.1716056115">Long CP, Gonzalez JE, Feist AM, Palsson BO,
                        Antoniewicz MR. Dissecting the genetic and metabolic
                        mechanisms of adaptation to the knockout of a major metabolic enzyme in Escherichia coli. Proc
                        Natl Acad Sci U S A. 2018;115: 222–227</a></p>
                </td>
            </tr>
            <tr>
                <td>C13</td>
                <td><a href="http://doi.org/10.1371/journal.pone.0151130">Sandberg TE, Long CP, Gonzalez JE, Feist AM,
                    Antoniewicz MR, Palsson BO. Evolution of E. coli on
                    [U-13C]Glucose Reveals a Negligible Isotopic Influence on Metabolism and Physiology. PLoS One.
                    2016;11: e0151130</a>
                </td>
            </tr>
            <tr>
                <td>42C</td>
                <td><a href="http://doi.org/10.1093/molbev/msu209">Sandberg TE, Pedersen M, LaCroix RA, Ebrahim A, Bonde
                    M, Herrgard MJ, et al. Evolution of
                    Escherichia coli to 42 °C and subsequent genetic engineering reveals adaptive mechanisms and novel
                    mutations. Mol Biol Evol. 2014;31: 2647–2662</a>
                </td>
            </tr>
            <tr>
                <td>42C Tenaillon</td>
                <td><a href="http://doi.org/10.1126/science.1212986">Tenaillon, Olivier, Alejandra Rodríguez-Verdugo,
                    Rebecca L. Gaut, Pamela McDonald, Albert F. Bennett, Anthony D. Long, and Brandon S. Gaut. 2012.
                    “The Molecular Diversity of Adaptive Convergence.” Science 335 (6067): 457–61</a>
                </td>
            </tr>
            <tr>
                <td>Epistasis2011</td>
                <td><a href="http://doi.org/10.1126/science.1203799">Chou, Hsin-Hung, Hsuan-Chao Chiu, Nigel
                    F. Delaney, Daniel Segrè, and Christopher J. Marx. 2011. “Diminishing Returns Epistasis among
                    Beneficial Mutations Decelerates Adaptation.” Science 332 (6034): 1190–92.</a>
                </td>
            </tr>
            <tr>
                <td>GLU</td>
                <td><a href="http://doi.org/10.1128/AEM.02246-14">LaCroix RA, Sandberg TE, O’Brien EJ, Utrilla J,
                    Ebrahim A, Guzman GI, et al. Use of adaptive
                    laboratory evolution to discover key mutations enabling rapid growth of Escherichia coli K-12 MG1655
                    on glucose minimal medium. Appl Environ Microbiol. 2015;81: 17–30</a>
                </td>
            </tr>
            <tr>
                <td>SER</td>
                <td><a href="https://doi.org/10.1016/j.ymben.2016.11.008">Mundhada H, Seoane JM, Schneider K, Koza A,
                    Christensen HB, Klein T, et al. Increased production of
                    L-serine in Escherichia coli through Adaptive Laboratory Evolution. Metab Eng. 2017;39: 141–150</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>SSW AC</p>
                    <p>SSW GLY</p>
                    <p>SSW XYL</p>
                    <p>SSW GLU AC</p>
                    <p>SSW GLU GLY</p>
                    <p>SSW GLY XYL</p>
                </td>
                <td><a href="https://doi.org/10.1128/AEM.00410-17">Sandberg TE, Lloyd CJ, Palsson BO, Feist AM.
                    Laboratory Evolution to Alternating Substrate
                    Environments Yields Distinct Phenotypic and Genetic Adaptive Strategies. Appl Environ Microbiol.
                    2017;83</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>LTEE</p>
                    <p>LTEE ARA</p>
                </td>
                <td><a hre/f="http://doi.org/10.1038/nature18959">Tenaillon O, Barrick JE, Ribeck N, Deatherage DE,
                    Blanchard JL, Dasgupta A, et al. Tempo and mode of
                    genome evolution in a 50,000-generation experiment. Nature. 2016;536: 165–170</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>TEE</p>
                    <p>TEE ARA</p>
                </td>
                <td><a href="https://doi.org/10.1073/pnas.1616132114">Deatherage, Daniel E., Jamie L. Kepner, Albert F.
                    Bennett, Richard E. Lenski, and Jeffrey E. Barrick. 2017. “Specificity of Genome Evolution in
                    Experimental Populations of Escherichia Coli Evolved at Different Temperatures.” Proceedings of the
                    National Academy of Sciences of the United States of America 114 (10): E1904–12.</a>
                </td>
            </tr>
            <tr>
                <td>TM GluGly</td>
                <td><a href="https://doi.org/10.1371/journal.pgen.1003485">Latif, Haythem, Joshua A. Lerman, Vasiliy A.
                    Portnoy, Yekaterina Tarasova, Harish Nagarajan, Alexandra C. Schrimpe-Rutledge, Richard D. Smith, et
                    al. 2013. “The Genome Organization of Thermotoga Maritima Reflects Its Lifestyle.” PLoS Genetics 9
                    (4): e1003485.</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
