{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block scripts_and_style %}
    <style>

        .chart div {
            font: 15px sans-serif;
            background-color: steelblue;
            text-align: right;
            padding: 5px;
            margin: 1px;
            color: white;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 12px;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "timeline.css" %}">
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>#}
{% endblock %}
<br>
{% block header %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ALEdb Total Mutation Counts</h3>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Projects</td>
                        <td>{{ count_dict.project }}</td>
                    </tr>
                    <tr>
                        <td>ALE Experiments</td>
                        <td>{{ count_dict.ale_exp }}</td>
                    </tr>
                    <tr>
                        <td>ALEs</td>
                        <td>{{ count_dict.ale }}</td>
                    </tr>
                    <tr>
                        <td>Flasks</td>
                        <td>{{ count_dict.flask }}</td>
                    </tr>
                    <tr>
                        <td>Isolates</td>
                        <td>{{ count_dict.isolate }}</td>
                    </tr>
                    <tr>
                        <td>Unique Mutations</td>
                        <td>{{ unique_mutation_counts.total }}</td>
                    </tr>
                    <tr>
                        <td>Observed Mutations</td>
                        <td>{{ observed_mutation_counts.total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ALEdb Mutation Type Counts</h3>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Mutation Type</th>
                        <th>Observed Mutations</th>
                        <th>Unique Mutations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Single Base Substitutions</td>
                        <td>{{ observed_mutation_counts.single_base_substitution }}</td>
                        <td>{{ unique_mutation_counts.single_base_substitution }}</td>
                    </tr>
                    <tr>
                        <td>Multiple Base Substitutions</td>
                        <td>{{ observed_mutation_counts.multiple_base_substitution }}</td>
                        <td>{{ unique_mutation_counts.multiple_base_substitution }}</td>
                    </tr>
                    <tr>
                        <td>Deletions</td>
                        <td>{{ observed_mutation_counts.deletion }}</td>
                        <td>{{ unique_mutation_counts.deletion }}</td>
                    </tr>
                    <tr>
                        <td>Insertions</td>
                        <td>{{ observed_mutation_counts.insertion }}</td>
                        <td>{{ unique_mutation_counts.insertion }}</td>
                    </tr>
                    <tr>
                        <td>Mobile Element Insertions</td>
                        <td>{{ observed_mutation_counts.mobile_element_insertion }}</td>
                        <td>{{ unique_mutation_counts.mobile_element_insertion }}</td>
                    </tr>
                    <tr>
                        <td>Amplifications</td>
                        <td>{{ observed_mutation_counts.amplification }}</td>
                        <td>{{ unique_mutation_counts.amplification }}</td>
                    </tr>
                    <tr>
                        <td>Gene Conversions</td>
                        <td>{{ observed_mutation_counts.gene_conversion }}</td>
                        <td>{{ unique_mutation_counts.gene_conversion }}</td>
                    </tr>
                    <tr>
                        <td>Inversions</td>
                        <td>{{ observed_mutation_counts.inversion }}</td>
                        <td>{{ unique_mutation_counts.inversion }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

        <hr>
        <div class="container">
             <div class="row">
                <div class="col-sm-12m text-muted" align="center">
                    ALEdb is hosted and maintained by the Systems Biology Research Group at the University of California,
                San Diego.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <a href="http://systemsbiology.ucsd.edu/">
                        <img class="img-responsive footer-image" src="/static/img/sbrg-logo.png" height="60%" width="60%">
                    </a>
                </div>
                <div class="col-sm-2">
                    <a href="http://www.biosustain.dtu.dk/"><img class="img-responsive footer-image"
                                                             src="/static/img/cfb-logo.png" height="30%" width="30%"></a>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.ucsd.edu/"><img class="img-responsive footer-image"
                                                        src="/static/img/ucsd-logo.png" height="40%" width="40%"></a>
                </div>
                <div class="col-sm-2">
                <h6 class="git-hash" >{{ git_hash }}</h6></div>
            </div>
        </div>
{% endblock %}
