{% extends 'base.html' %}
{% load static %}

{% block scripts_and_style %}
<script type="text/javascript">
     $(document).ready(function() {
            $('#project_table').DataTable({
                scrollY: 600,
                paging: false,
            });
        } );
</script>

{% endblock %}
{% block title %}Project List{% endblock %}
{% block header %}Project List{% endblock %}
{% block content %}

    <table id="project_table" class="table table-bordered" style="width: 100%;">
        <thead class="alert-success">
            <tr>
                <th>Name</th>
                <th>Publications</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for project, publications in project_dic %}
            <tr>
                <td>
                    <a href="/ale/project/{{ project.id }}">{{ project.name }}</a>
                </td>
                <td>
                    {% for doi in publications %}
                        <a href="https://doi.org/{{ doi }}">{{ doi }}</a>
                    {% endfor %}

                </td>
                <td>{{ project.date_str }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

